@import "../variables";

.recent-activities {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  font-size: .9em;

  .date-header {
    color: #0c8990;
    padding: .5rem;

    .date {
      font-weight: $theme-font-weight-bold;
    }
  }

  .log-item {
    display: flex;
    align-items: flex-start;
    margin-left: 2rem;
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 2px;
      background-color: #0c8990;
      height: 100%;
      position: absolute;
      top: 0;
      left: -17px;
    }

    .user-icon {
      padding-top: .5rem;
      flex: 0 0 40px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }

    &.without-title {
      .time {
        display: none;
      }
      .user-icon {
        img {
          display: none;
        }
      }

      & + .log-item:not(.without-title) {
        padding-top: 1.5rem;
      }
    }

    .content {
      display: flex;
      flex-direction: column;

      .title-container {
        display: flex;
        align-items: center;

        .issue-link,
        .issue-link:hover {
          display: flex;
          align-items: center;
          color: #141823;
          border: none;
          text-decoration: none;
          font-size: 1.1em;
          font-weight: $theme-font-weight-regular;

          .count-badge {
            margin: 0 .35rem 0 0;
          }
        }
      }

      .description {
        padding: .15em 0;
        font-weight: $theme-font-weight-light;

        .fas,
        .far {
          margin-right: .25em;
        }
      }
    }
  }
}
