@import '../variables';

.button .indicator, button .indicator {
  display: inline-block;
  margin-right: 0;
  margin-left: 0;
  width: 0;
  opacity: 0;
  transition: width .2s ease-in-out, margin-left .2s ease-in-out;
}
.submitting .button .indicator, .submitting button .indicator, .button.submitting .indicator, button.submitting .indicator {
  opacity: 1;
  width: auto;
  margin-left: .8em;
}

input[type=submit], input[type=button], button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
}

input[type=submit], input[type=submit]:hover,
input[type=button], input[type=button]:hover,
button, button:hover,
.button, .button:hover {
  line-height: 17px;
  margin: 0;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  font-family: $theme-font-family;
  vertical-align: middle;
  /*background: #3c1642;*/
  /*color: rgba(0, 0, 0, .7);*/
  background: #44AF69;
  color: #FFF;
  font-weight: $theme-font-weight-regular;
  outline: 0;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  text-transform: none;
  font-size: .9rem;
  padding: .42rem 1rem;
  transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out, opacity .2s ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: center;

  span + .fas,
  span + .icon,
  span + .far {
    margin-left: .35rem;
  }

  .icon + span,
  .fas + span,
  .far + span {
    margin-left: .35rem;
  }
}

button + button, button + button:hover,
.button + button, .button + button:hover,
button + .button, button + .button:hover,
.button + .button, .button + .button:hover {
  margin-left: 7px;
}
button img, .button img { vertical-align: middle; display: inline-block; margin-right: 5px; }
button.button-icon img, .button.button-icon img { margin-right: 0; }
button .fas, .button .fas, button .far, .button .far { display: inline-block; vertical-align: middle; margin: 0 5px 0 0; }
button .material-icons, .button .material-icons {
  vertical-align: middle;
  margin-right: .3em;
  font-size: 1em;
}
button .fas:last-child, .button .fas:last-child, button .far:last-child, .button .far:last-child, button .material-icons:last-child, .button .material-icons:last-child { margin-right: 0; }

button:hover, input[type=submit]:hover, .button:hover {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}
button:active, input[type=submit]:active, .button:active {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  background: #DBD69E;
}
button:disabled, input[type=submit]:disabled, .button:disabled,
button:disabled:hover, input[type=submit]:disabled:hover, .button:disabled:hover,
button:disabled:active, input[type=submit]:disabled:active, .button:disabled:active,
button:disabled:focus, input[type=submit]:disabled:focus, .button:disabled:focus,
button.disabled, input[type=submit].disabled, .button.disabled {
  box-shadow: none;
  background: rgba(200, 200, 200, .2);
  color: rgb(150, 150, 150);
}
input[type="button"]::-moz-focus-inner {
  border: 0;
}
button::-moz-focus-inner {
  border: 0;
}
.button::-moz-focus-inner {
  border: 0;
}
button:focus, input[type=submit]:focus, .button:focus {
  outline: 0;
  box-shadow: 0 0 4px $theme-primary, 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
}
input[type=submit]:active, input[type=button]:active, button:active, .button:active, input[type=submit].activated, button.activated, .button.activated {
  //box-shadow: inset 0 0 2px rgba(150, 150, 150, 0.4);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16) inset, 0 0 1px 0 rgba(0, 0, 0, 0.16) inset;
}
button.secondary,
input.button.secondary,
.button.secondary,
.backdrop_box input.button:not(.primary),
.backdrop_box button:not(.primary),
.backdrop_box .button:not(.primary),
.fullpage_backdrop_content button:not(.primary),
.fullpage_backdrop_content .button:not(.primary),
.fullpage_backdrop_content input.button:not(.primary) {
  background: transparent;
  color: #0C8990;
  box-shadow: none;
  border-radius: 4px;
  text-align: center;
}
.popup_message button.secondary {
  color: rgb(255, 170, 0);
}
button.secondary.highlight,
input.button.secondary.highlight,
.button.secondary.highlight {
  border: 1px solid #0C8990;
  color: #0C8990;
}
button.secondary.enabled,
input.button.secondary.enabled,
.button.secondary.enabled {
  color: #0E9A00;

  &:hover {
    color: #0E9A00;
  }
}
button.icon,
.button.icon,
input.button.icon,
button.icon:hover,
.button.icon:hover,
input.button.icon:hover {
  background: transparent;
  box-shadow: none;
  color: rgb(100, 100, 100);
  padding: 7px 10px;
  box-sizing: border-box;
}
.icon .fas, .icon .far {
  min-width: 16px;
}
button.secondary.active,
.button.secondary.active,
input.button.secondary.active {
  background-color: rgba(200, 200, 200, .3);
}
button.secondary:hover,
.button.secondary:hover,
input.button.secondary:hover,
button.icon:hover,
.button.icon:hover,
input.button.icon:hover,
.backdrop_box button:not(.primary):hover,
.backdrop_box .button:not(.primary):hover,
.backdrop_box input.button:not(.primary):hover,
.fullpage_backdrop_content button:not(.primary):hover,
.fullpage_backdrop_content .button:not(.primary):hover,
.fullpage_backdrop_content input.button:not(.primary):hover {
  background: rgba(220, 220, 220, .15);
  color: #3c1642;
  box-shadow: none;
}
button.secondary:disabled,
.button.secondary.disabled,
input.button.secondary.disabled,
button.icon.secondary:disabled,
.button.icon.secondary.disabled,
input.icon.secondary:disabled {
  background: transparent;
  color: rgba(200, 200, 200, .3);

  &:hover {
    background: transparent;
    color: rgba(200, 200, 200, .3);
  }
}
button.danger,
.button.danger,
input.button.danger,
button.icon.danger,
.button.icon.danger,
input.icon.danger {
  background-color: #cb1a00;
  color: #FFF;

  .icon {
    color: #FFF;
  }

  &:hover {
    background-color: #9e1200;
    color: #FFF;

    .icon {
      color: #FFF;
    }
  }

  &.secondary {
    background: transparent;
    color: #cb1a00;

    .icon {
      color: #cb1a00;
    }

    &:hover {
      background-color: #cb1a00;
      color: #FFF;

      .icon {
        color: #FFF;
      }
    }
  }
}
.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: flex-end;
  padding: 10px;
  flex: 0 0 auto;
  align-items: center;

  button,
  .button {
    white-space: nowrap;
  }

  .separator {
    flex: 0 0 1px;
    height: 1.5em;
    margin: 0 .5em;
    display: inline-block;
    border-right: 1px solid $theme-text-color-lighter;
  }
}

.dialog-query-buttons {
  padding: 0 10px;
  /*height: 40px;*/
  display: flex;
  margin: 10px 0;
  justify-content: flex-end;
  align-items: center;
  font-size: .75rem;
  justify-self: flex-end;
  flex: 1 1 auto;
}
