.dropper-container {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  line-height: 1em;

  & + .dropper-container {
    margin-left: .5rem;
  }

  .dropdown-container {
    list-style: none;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0;
    z-index: 1000;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: opacity 0.3s ease, transform 0.3s ease-in-out;
    max-height: 550px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 5px 0;
    background: #FFF;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 4px;
    top: calc(100% + 3px);
    right: 0;

    &.from-left {
      right: auto;
      left: 0;

      &.pop-out {
        left: 20px;
        top: 0;
        z-index: 2000;
      }
    }

    &.from-center {
      right: auto;
      left: 50%;
      transform: scaleY(0) translateX(-50%);
    }

    &.from-bottom {
      top: auto;
      bottom: 37px;
      transform-origin: bottom;
    }

    &.columns {
      flex-direction: row;

      &.three-columns .column {
        flex: 1 1 33%;
      }

      &.two-columns .column {
        flex: 1 1 50%;
        min-width: 260px;
      }
    }

    .list-mode {
      max-height: 450px;
      overflow-y: auto;
      overflow-x: hidden;
      min-width: 260px;
      max-width: 350px;

      .header-banner {
        .header-name {
          padding: .3em;

          .image-container {
            padding-right: .3em;
            margin-right: 0;
          }

          .name-container {
            padding: .3em 0;
          }
        }
      }
    }
  }

  .dropper {
    cursor: pointer;
    &.active + .dropdown-container {
      transform: scaleY(1);
      opacity: 1;

      &.from-center {
        transform: scaleY(1) translateX(-50%);
      }
    }
  }

}
