@import "../variables";

.fancy-dropdown-container {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;

  .fancy-dropdown {
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px 0 5px 10px;
    font-size: .95rem;
    vertical-align: middle;
    border: none;
    transition: background-color 0.25s ease-in-out, box-shadow .25s ease-in-out;
    border-radius: 4px;
    color: #141823;
    background: rgba(200, 200, 200, .1);
    box-sizing: border-box;
    &:hover {
      background: rgba(200, 200, 200, .3);
      cursor: pointer;
    }
    &:focus {
      border-color: #0C8990;
    }
    &.active {
      border-radius: 4px 4px 0 0;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

      .dropdown-container {
        width: auto;
        min-width: 100%;
      }
    }
    &.shaded {
      background-color: rgba(255, 255, 255, .4);
      color: #FFF;

      &.active {
        border-radius: 4px;
        background: rgba(255, 255, 255, .6);

        .dropdown-container {
          border-radius: 4px;
          margin: 0;
          width: auto;
        }
      }

      > label {
        color: #FFF;
        font-weight: $theme-font-weight-regular;
      }

      &.no-value > .value {
        color: #FFF;
      }
    }
    .expander,
    .fas.expander {
      flex: 0 0 40px;
      box-sizing: border-box;
      transform: rotate(0);
      cursor: pointer;
      padding: 0 10px;
      text-align: center;
      transition: transform .25s ease-in-out;
    }

    > label {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex: 0 0 auto;
      font-weight: $theme-font-weight-regular;
      font-size: .9em;
      text-transform: uppercase;
      margin-right: .5em;
    }

    > .value {
      flex: 1 1 auto;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 250px;
      min-width: 100px;
      font-weight: $theme-font-weight-light;

      &.no-value {
        color: #C8C8C8;
      }
    }

    &.no-value > .value {
      color: #C8C8C8;
    }

    .fas {
      flex: 0 0 auto;
      font-size: 1em;
    }

    .remove-button {
      border-left: 1px solid rgba(100, 100, 100, 0.2);
      transition: background-color 0.3s ease;
      padding: 0 8px;

      &:hover {
        border-color: rgba(100, 100, 100, 0.4);
        background-color: rgba(250, 0, 0, 0.2);
        cursor: pointer;
      }
    }

    .dropdown-container {
      list-style: none;
      font-size: 1em;
      display: flex;
      flex-direction: column;
      position: absolute;
      z-index: 10;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
      transition: opacity 0.3s ease, transform 0.3s ease-in-out;
      max-height: 450px;
      overflow: hidden;
      box-sizing: border-box;
      padding: 5px 0;
      background: #FFF;
      width: 100%;
      min-width: 100%;
      top: calc(100% + 3px);
      right: 0;
      margin: -3px 0 0 0;
      box-shadow: 0 5px 3px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 5px 5px 0 rgba(0, 0, 0, 0.12);
      border-radius: 0 0 4px 4px;

      &.from-left {
        right: auto;
        left: 0;
      }

      &.from-center {
        right: auto;
        left: 50%;
        transform: scaleY(0) translateX(-50%);
      }

      &.from-bottom {
        top: auto;
        bottom: 37px;
        transform-origin: bottom;
      }

      &.list-mode,
      .list-mode {
        max-height: 450px;
        overflow-y: auto;
        overflow-x: hidden;

        .list-item:not(.separator) {
          margin-left: 0;
          margin-right: 0;
          border-radius: 0;
          padding-left: .7em;
          padding-right: .7em;

          &.multiline {
            span.name {
              max-width: none;
            }
          }
        }
      }
    }

    &.active {
      .dropdown-container {
        transform: scaleY(1);
        opacity: 1;
      }

      .expander {
        transform: rotate(180deg);
      }
    }
  }

  &.from-left {
    .fancy-dropdown {
      &.active {
        .dropdown-container {
          right: auto;
          left: 0;
        }
      }
    }
  }

  &.from-bottom {
    .fancy-dropdown {
      &.active {
        border-radius: 0 0 4px 4px;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 3px 0 rgba(0, 0, 0, 0.12);
      }

      .dropdown-container {
        top: auto;
        bottom: calc(100% - 5px);
        padding-bottom: 12px;
        transform-origin: bottom;
        border-radius: 4px 4px 0 0;
        box-shadow: 0 -3px 1px -2px rgba(0, 0, 0, 0.2), 0 -2px 2px 0 rgba(0, 0, 0, 0.14), 0 -3px 3px 0 rgba(0, 0, 0, 0.12);
      }
    }
  }

}
