.fancydropdown-container {
  display: flex;
  flex-direction: column;
  position: relative;

  .fancydropdown {
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px 0 5px 10px;
    font-size: .95rem;
    vertical-align: middle;
    border: 1px solid transparent;
    transition: border 0.3s ease;
    border-radius: 4px;
    color: #141823;
    background: rgba(200, 200, 200, .1);
    &:hover {
      background: rgba(200, 200, 200, .3);
      cursor: pointer;
    }
    &:focus {
      border-color: #0C8990;
    }
    &.active {
      background-color: rgba(200, 200, 200, 0.3);
    }
    .expander,
    .fas.expander {
      flex: 0 0 40px;
      box-sizing: border-box;
      transform: rotate(0);
      cursor: pointer;
      padding: 0 10px;
    }

    > label {
      flex: 0 0 auto;
      font-weight: 300;
      font-size: .9em;
      text-transform: uppercase;
      margin-right: .5em;
    }

    > .value {
      flex: 1 1 auto;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 250px;
      min-width: 100px;
    }

    .fas {
      flex: 0 0 auto;
      font-size: 1em;
    }

    .remove-button {
      border-left: 1px solid rgba(100, 100, 100, 0.2);
      transition: background-color 0.3s ease;
      padding: 0 8px;

      &:hover {
        border-color: rgba(100, 100, 100, 0.4);
        background-color: rgba(250, 0, 0, 0.2);
        cursor: pointer;
      }
    }

    .dropdown-container {
      list-style: none;
      font-size: 1em;
      display: flex;
      flex-direction: column;
      position: absolute;
      margin: 0;
      z-index: 10;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
      transition: opacity 0.3s ease, transform 0.3s ease-in-out;
      max-height: 450px;
      overflow: hidden;
      box-sizing: border-box;
      padding: 5px 0;
      background: #FFF;
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
      border-radius: 4px;
      min-width: 100%;
      top: calc(100% + 3px);
      right: 0;

      &.list-mode,
      .list-mode {
        max-height: 450px;
        overflow-y: auto;
        overflow-x: hidden;

        .list-item {
          &.multiline {
            span.name {
              max-width: none;
            }
          }
        }
      }

      &.from-left {
        right: auto;
        left: 0;
      }

      &.from-bottom {
        top: auto;
        bottom: calc(100% + 3px);
      }
    }

    &.active {
      .dropdown-container {
        transform: scaleY(1);
        opacity: 1;
      }

      .expander {
        transform: rotate(180deg);
      }
    }
  }
}
