@import "../variables";

.fancy-labels {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.fancy-labels label {
  display: flex;
  flex: 0 0 calc(50% - 10px);
  margin: 5px;
  padding: 15px;
  border: 1px solid rgba(225, 225, 225, .1);
  transition: border-color .2s ease-in-out, background-color .2s ease-in-out;
  justify-content: flex-start;
  align-items: center;
  font-weight: $theme-font-weight-regular;
  text-transform: none;
  box-sizing: border-box;
}
.fancy-labels label .fas,
.fancy-labels label .far {
  flex: 0 0 60px;
  font-size: 2.5em;
  padding: 15px;
  color: #888;
  text-align: center;
}
.fancy-labels label span {
  flex: 1 1 auto;
  font-size: 1em;
  padding: 15px 5px;
  color: #555;
  line-height: 1em;
}
.fancy-labels label span h1 {
  font-size: 1.2em;
}
.fancy-labels input:checked + label {
  border-color: rgba(225, 225, 225, .3);
  background-color: rgba(200, 200, 200, .1);
  box-shadow: inset 0 0 4px rgba(100, 100, 100, .3);
}
.fancy-labels input {
  display: none;
}
