.fancycheckbox {
  display: none;

  + label {
    display: inline-block;
    color: #555;
    transition: color .2s ease-in-out;
  }

  + label,
  + .list-item {
    .fas.unchecked,
    .far.unchecked {
      display: inline-block;
      margin-right: .3em;
    }

    .fas.checked,
    .far.checked {
      display: none;
    }
  }

  &:disabled {
    + label,
    + .list-item {
      color: #DDD;
    }
  }

  &:checked:not(:disabled) {
    + label {
      color: #88AB75;
    }

    + .list-item:not(.toggler),
    + .list-item:not(.toggler):hover {
      background-color: #0C8990;
      color: #FFF;

      .icon {
        color: #FFF;
      }
    }

    + .list-item.toggler {
      color: #141823;

      .icon {
        color: #0C8990;
      }
    }

    + label,
    + .list-item {

      .fas.checked,
      .far.checked {
        display: inline-block;
        margin-right: .3em;
      }

      .fas.unchecked,
      .far.unchecked {
        display: none;
      }
    }
  }

  &:focus {
    + label {
      color: #558;
    }
  }
}
