.list-mode {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  &.grid-mode {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    .list-item,
    .list-item:hover {
      justify-content: center;
      margin: .35rem;
    }
  }

  &.updating {
    opacity: 0.2;
  }

  .header-banner {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #FFF;

    .header-name {
      display: flex;
      flex-direction: row;
      padding: .7em;
      align-items: center;

      .image-container {
        flex: 0 0 2.8em;
        margin-right: .7em;
        padding: .7em;

        > img {
          width: 100%;
        }
      }

      .name-container {
        flex: 1 1 auto;
        font-size: 1.55rem;
        font-weight: 600;
        line-height: 1.5rem;
        display: flex;
        flex-direction: column;
        padding: .7em 0;
      }
    }

    .info-container {
      font-size: .6em;
    }

    .button-group {
      padding: 15px;
      justify-content: flex-end;
    }
  }

  .list-item,
  .list-item:hover {
    position: relative;
    padding: 0 7px;
    display: flex;
    flex-direction: row;
    color: #141823;
    border-radius: 5px;
    border: 1px solid transparent;
    margin: 0 .35em 5px .35em;
    align-content: flex-start;
    align-items: center;
    justify-content: flex-start;
    justify-items: flex-start;
    font-size: .85rem;
    text-transform: none;
    white-space: nowrap;
    min-width: 250px;
    transition: color .25s ease-in-out, background-color .25s ease-in-out;

    &.disabled {
      color: rgba(100, 100, 100, .4);

      .icon {
        color: rgba(100, 100, 100, .4);
      }
    }

    &.danger {
      color: #cb1a00;

      .icon {
        color: #cb1a00;
      }

      &:hover {
        background-color: #cb1a00;
        color: #FFF;

        .icon {
          color: #FFF;
        }
      }
    }

    .dropper-container {
      border-left: 1px solid rgba(100, 100, 100, .1);

      .fas,
      .far {
        padding: 10px;
      }
    }

    &.active {
      .dropper-container {
        border-radius: 4px;
        background-color: rgba(100, 100, 100, .1);
      }
    }

    &:not(.disabled):not(.not-selectable):not(.separator):not(.header):not(.danger):not(.filter-container):hover {
      background-color: rgba(100, 100, 100, .1);
    }
    &.selected {
      background-color: #0C8990;
      color: #FFF;

      &:hover {
        background-color: #0C8990;
        color: #FFF;
      }

      > .icon,
      > a .icon {
        color: #FFF;
      }

      > .name,
      > a .name {
        color: #FFF;
      }
    }

    &.multiline {
      .icon {
        margin-right: .5em;
      }
      span.name {
        flex: 0 0 auto;
        max-width: 250px;
        display: flex;
        flex-direction: column;
        font-size: .85em;

        & .title {
          font-size: 1.2em;
          font-weight: 600;
          white-space: normal;
          width: 100%;
        }
      }

    }

    &.with-pop-out {
      padding-right: 0;
    }

    &.expandable {
      padding-right: 0;

      &.expanded {
        &.selected {
          background-color: transparent;
          border-color: #0C8990;
        }

        .name {
          color: #0C8990;
          font-weight: 600;
        }

        .icon {
          color: #0C8990;
        }
      }
    }

    .name {
      flex: 1 1 auto;
      align-self: center;
      padding: 7px 0;
      font-weight: 300;
      font-size: 1em;
      white-space: normal;
      overflow: hidden;
    }

    .indicator {
      display: none;
      flex: 0 0 auto;
      text-align: center;
    }

    &.filter-container,
    &.text-input-container {
      border-bottom: 1px dotted rgba(0, 0, 0, .2);
      margin-bottom: 7px;
      padding-bottom: 7px;
      padding-left: 0;
      border-radius: 0;

      &:hover {
        background: transparent;
      }

      input[type=text],
      input[type=search] {
        border: none;
        background: rgba(200, 200, 200, .1);
        padding: .45em .75em;
        border-radius: 4px;
        color: #141823;
        flex: 1 1 auto;

        &.filtering + .indicator {
          display: inline-block;
        }
      }
    }

    &.separator,
    &.separator:hover {
      padding: 2px 0 0 0;
      margin: 0 10px 7px 10px;
      border-bottom: 1px solid rgba(100, 100, 100, 0.2);
      background-color: transparent;
      cursor: default;
      border-radius: 0;
    }

    .icon {
      flex: 0 0 25px;
      padding: .35em 0;
      color: rgb(100, 100, 100);
      align-self: center;
      text-align: center;
    }

    > a,
    > a:hover {
      color: #141823;
      border: none;
      display: flex;
      align-items: center;

      &:not(.icon) {
        flex: 1 1 auto;
      }
    }

  }

  .fancy-checkbox:checked + .list-item:not(.disabled):not(.not-selectable):not(.separator):not(.header):not(.filter-container):hover {
    background-color: #0C8990;
    color: #FFF;
  }
}
.submenu {
  &.columns {
    flex-direction: row;

    &.three-columns .column {
      flex: 1 1 33%;
    }

    &.two-columns .column {
      flex: 1 1 50%;
    }
  }

  .list-item,
  .list-item:hover {
    color: #141823;
    padding: 0 10px;
    font-size: .95em;
    margin: 5px 10px;

    .icon {
      font-size: 1.1em;
      padding-left: 10px;
    }
  }
}

.filtered {
  .list-item:not(.sticky):not(.separator):not(.filter-container) {
    display: none;

    &.separator,
    &.hidden {
      display: none;
    }

    &.visible {
      display: block;
    }

    &.highlighted {
      color: #0C8990;
    }
  }
}

.submenu .list-item,
.submenu .list-item:hover {
  font-size: .85rem;
}
.submenu {
  border-top: 1px solid rgba(100, 100, 100, .2);
}
.expandable {
  .expander {
    transform: rotate(0);
    cursor: pointer;
    padding: 10px;
  }

  + .submenu {
    display: none;

    .list-item {
      padding: 0 5px;
      margin: 5px 18px 0 18px;
    }
  }

  &.expanded {
    &:not(button) .expander {
      transform: rotate(180deg);
      color: #0C8990;
    }

    & + .submenu {
      display: initial;
      border-bottom: 1px solid rgba(100, 100, 100, .2);
      padding-bottom: 5px;
    }
  }

}
.collapsed {
  .expandable {
    &.expanded + .submenu {
      display: none;
    }

    .expander {
      display: none;
    }
  }

  .list-mode {
    min-width: 0;

    .list-item {
      &,
      &:hover {
        justify-content: center;
        padding: 0;
        font-size: 1rem;
        min-width: 0;
      }
      .icon:first-child {
        padding: 10px;
        flex: 1 1 auto;
      }
      .icon:not(:first-child) {
        display: none;
      }
      .name {
        display: none;
      }

      .dropper-container {
        border-bottom: none;
        text-decoration: none;

        .list-item {
          justify-content: flex-start;
          padding: 0 7px;
          font-size: .95em;

          .icon:first-child,
          .icon:not(:first-child) {
            display: flex;
            flex: 0 0 24px;
          }
          .name {
            display: flex;
          }
        }
      }
    }
  }
}

.list-mode, .submenu {
  .header,
  .header:hover {
    text-transform: none;
    color: rgb(150, 150, 150);
    font-size: .75rem;
    padding: 15px 0 5px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;

    span {
      flex: 1 1 auto;
    }

    .dropper-container,
    .link-container,
    &.hover {
      flex: 0 0 auto;
      margin-right: 1rem;
      border: none;

      .dropper,
      .link {
        flex: 0 0 25px;
        padding: .35rem;
        box-sizing: border-box;

        &.active {
          border-radius: 4px;
          background-color: rgba(100, 100, 100, .1);
        }
      }
    }
  }
}
