.slider-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  margin: 20px 0;
  height: 20px;

  .slider {
    flex: 1 1 auto;
    height: 10px;
    margin: 0 0 15px 0;
    padding: 0;
    border: 0;
    border-bottom: 1px solid rgba(100, 100, 100, 0.2);

    .ui-slider-handle {
      width: 15px;
      height: 25px;
      border: none;
      border-radius: 4px;
      background-color: rgb(245, 245, 245);
      cursor: move;
      position: absolute;
      margin-top: -5px;
    }
  }

  .value {
    flex: 1 1 auto;
    font-size: 2em;
    font-weight: 600;
    color: #CCC;
    padding: 15px;
    text-align: right;
    justify-content: flex-end;
  }
}

