@import "../variables";

@mixin workflow-actions-container($flex-align) {

  .workflow-actions-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: $flex-align;
    flex-wrap: wrap;

    .workflow-list {
      flex: 1 1 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-start;
      align-content: flex-start;
      justify-content: $flex-align;
      justify-items: flex-start;
      list-style: none;
      padding: .35em 0;
      margin: 0;

      .button.highlight {
        border: 1px solid $theme-primary-color;
      }

      .tooltip-container {
        position: relative;

        & + .tooltip-container {
          margin-left: .15rem;
        }
      }
    }
  }
}