node_modules
vendor
cache/*
core/config/b2db.yml
public/.htaccess
installed
files/*
modules/

# Development environment artefacts.
.vagrant/
ansible/*.retry
apache-access.log
apache-error.log
artefacts/
pachno.log
/nbproject
.idea
.eslintrc.js
*-VBoxSVC-*.log
