.comments-header-strip {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 1em;

  button,
  button:hover {
    margin-left: .35rem;
  }
}

.comment-container {
  padding-top: 35px;

  &.syntax_md {
    p,
    pre,
    code {
      margin: 0;
    }
  }

  &:not(.reply) {
    padding: 0;
    clear: both;
    display: block;
    margin-bottom: 25px;
    border: none;
    position: relative;

    &.system-comment {
      border: none;
      padding-left: 55px;
      font-size: .9em;
      line-height: 1em;

      &::after {
        content: '';
        display: block;
        height: calc(100% + 26px);
        width: 1px;
        border-left: 3px solid rgba(225, 225, 225, .5);
        position: absolute;
        top: -1px;
        left: 40px;
      }
    }

    &:not(.system-comment) {
      background: #FFF;
      box-shadow: 0 1px 3px 0 rgba(27, 27, 36, .2);
      border-radius: 4px;

      &::before {
        content: '';
        display: block;
        height: 25px;
        width: 1px;
        border-left: 3px solid rgba(225, 225, 225, .5);
        position: absolute;
        top: -26px;
        left: 40px;
      }

      &:first-child::before {
        top: -56px;
        height: 55px;
      }

      & + .comment-container.private-comment:not(.reply)::before {
        border-left-color: rgb(232, 246, 232);
      }
    }

    .header {
      font-weight: 600;
      display: inline-block;
      line-height: 1.4em;

      .userlink {
        margin-left: 0;
        font-size: 1em;
        padding: 0;
      }

      img.avatar {
        width: 16px;
        height: 16px;
      }
    }

    .comment {
      position: relative;
      overflow: visible;
      padding: 0;
    }

    &:target {
      .comment {
        border-color: rgba(100, 100, 100, 0.2);
        background-color: rgba(240, 247, 255, 0.6);
      }

      &:not(.reply) > .comment {
        border-radius: 3px;
        box-shadow: 0 0 3px rgba(100, 100, 100, 0.2);
      }
    }
  }

  .header {
    padding: 8px 8px 0 8px;
    border: none;
    position: relative;
    /*background-color: rgba(225, 225, 225, .1);*/
  }

  .date {
    color: rgba(0, 0, 0, .6);
    font-weight: 300;
    font-size: 0.9em;
    display: inline-block;
    margin-left: 5px;
    padding: 2px 4px;
    border-radius: 3px;
    background-color: rgba(225, 225, 225, .3);
    line-height: 1.6em;
  }

  .body {
    padding: 3px 10px;
    font-size: 1.1em;

    .image_container.thumb img.image {
      width: 130px;
    }
  }

  .tools {
    position: absolute;
    top: -20px;
    right: 10px;

    &.action-buttons a.action-button {
      color: rgba(200, 200, 200, .7);
    }
  }
}

.reply-container {
  padding: 10px;
  border-top: 1px solid rgba(200, 200, 200, .3);

  .fake-reply {
    display: flex;
    align-items: center;

    > .avatar-container {
      flex: 0 0 20px;
      margin-right: 7px;
    }

    > img.avatar {
      height: 20px;
      width: 20px;
      opacity: .8;
    }

    > a {
      border: 1px solid rgba(200, 200, 200, .3);
      border-radius: 5px;
      color: #AAA;
      flex: 1 1 auto;
      padding: 5px;
      font-size: .9em;
      background-color: rgba(225, 225, 225, .1);
    }
  }

  .hash-link {
    float: right;
    font-size: 2.0em;
    line-height: 1em;
    font-weight: 600;
    color: #B1B8E9;
    text-align: center;
  }

  .hash-link a {
    color: #B1B8E9;
  }
}

.private-comment {
  .fake-reply > a {
    background-color: rgba(255, 255, 255, .7);
  }

  .comment {
    background-color: #E8F6E8;
    border-radius: 3px;
  }
}

.comments_none {
  font-weight: 300;
}

.comment:hover > .commentheader .action-buttons.commenttools a.action-button {
  color: rgba(100, 100, 100, .7);
}

.comment-replies .commentheader {
  border-top: 1px solid rgba(200, 200, 200, .3);
}

.comment-reply,
.comment-edit {
  display: none;

  &.comment-editor {
    position: relative;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
    box-shadow: none;
    background: transparent;
    width: auto;
  }

  &.active {
    display: flex;

    + .commentbody,
    + .fake-reply {
      display: none;
    }

  }
}

.comment-editor.comment-edit.active {
  margin: 10px;
}

.comment_editsave, .comment_addsave {
  font-weight: 600;
}

.comment-editor,
.todo_editor {
  position: fixed;
  width: 650px;
  z-index: 120;
  bottom: 5px;
  right: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #FFF;
  border: 0;
}

.add-comment-container,
.todo_add_main {
  padding: 10px;
}

.comment-editor .typeahead.dropdown-menu,
.todo_editor .typeahead.dropdown-menu {
  overflow-y: scroll;
  max-height: 100px;
}

.comment-change-list {
  list-style: none;
  margin: 0 10px 25px 25px;
  padding: 0;
  font-size: .9em;

  .fas,
  .far {
    margin-right: 5px;
  }

  span.date {
    display: none;
  }

  img {
    margin: 3px 5px -3px 5px;
  }
}

.comment-todos-list {
  margin-top: 0;

  .todo {
    margin-left: 21px;
  }
}
