@import "../variables";

.syntax_md {
  &:not(.comment-container) {
    border: 1px solid theme-primary-color-alpha(.4);
    border-radius: .25em;
  }

  .editor-toolbar {
    display: flex;
    background-color: transparent;
    padding: .4em;
    border-radius: .25em .25em 0 0;
    border-bottom: none;
    box-shadow: 0 3px 3px -2px rgba(27, 27, 36, 0.1);
    z-index: 1;
    position: relative;
    align-items: center;
    justify-content: flex-start;

    button {
      background-color: transparent;
      box-shadow: none;
      color: $theme-text-color;

      &:hover {
        background-color: $theme-primary-color;
        color: $theme-text-color-inverse;
      }
    }

    .separator {
      color: transparent;
      flex: 0 0 auto;
      padding: 0 .3em 0 0;
      margin: 0 .35em 0 0;
      height: 70%;
      border-bottom: none;
      border-right: 2px solid $theme-primary-color;
    }
  }

  .editor-statusbar {
    font-size: .85em;
    padding: .5em;
    border-top: 1px dotted $theme-primary-color;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      text-decoration: none;
      border: none;
      color: $theme-text-color;
      margin-left: auto;

      &:hover {
        color: $theme-text-color-lighter;
      }
    }
  }

  .CodeMirror-wrap {
    border-radius: 0 0 .25em .25em;
  }
}