@import "../variables";

.flexible-table {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 1 auto;
  overflow: visible;
  width: 100%;

  .row {
    display: flex;
    flex: 0 0 auto;

    &.hidden {
      display: none;
    }

    & + .row.header {
      margin-top: 1em;
    }

    &:not(.disabled):hover {
      .column {
        &:not(.invisible):not(.header):not(.disabled) {
          background-color: #F1F1F1;

          .button.secondary {
            background-color: rgba(255, 255, 255, .65);
          }

          .button.secondary.active {
            background-color: rgba(225, 225, 225, .65);
          }
        }
      }
    }

    &.selected {
      .column:not(.invisible) {
        background-color: #F1F1CA;
      }
    }

    &.disabled {
      .column {
        color: #888;
      }
    }

    &.closed {
      .column.result_issue {
        color: #888;
        text-decoration: line-through;
      }
    }

    &.blocking {
      .column:not(.invisible) {
        background-color: #FCC;
      }

      &:hover {
        .column:not(.invisible) {
          background-color: #E0aC9C;
        }
      }
    }
  }

  .body.children {
    margin-left: 25px;
  }

  .column {
    flex: 0 0 170px;
    display: flex;
    align-items: center;
    padding: .35rem;
    box-sizing: border-box;
    border-bottom: 1px dashed rgba(12, 137, 144, .4);

    &.hidden {
      display: none;
    }

    a,
    a:hover {
      display: flex;
      align-items: center;
      border: none;
      font-weight: $theme-font-weight-light;
      padding: .2em;
    }

    .count-badge {
      font-size: 1em;
    }

    &.header {
      font-size: 0.8em;
      background: transparent;
      font-weight: $theme-font-weight-bold;
      text-transform: uppercase;
      border: none;
      border-bottom: 2px solid #0C8990;
      color: #0C8990;

      &.invisible {
        border-bottom-color: transparent;
      }

      &.info-icons {
        &.large {
          font-size: 1.2em;
        }
      }
    }

    &.invisible {
      border-bottom-color: transparent;
    }

    &.disabled {
      color: #888;
    }

    &.list {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    &.grid {
      flex: 0 0 300px;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;

      &:not(.header) {
        > * {
          margin: .15rem;
        }
      }
    }

    &.info-icons {
      flex: 0 0 40px;
      align-items: center;

      &.centered {
        justify-content: center;

        .fas,
        .far,
        .fab {
          margin-left: 0;
          margin-right: 0;
        }
      }

      &:not(.centered) {
        justify-content: flex-end;

        .fas,
        .far {
          + .fas,
          + .far {
            margin-left: -.2em;
          }
        }
      }

      img {
        width: 100%;
      }
    }

    .button.secondary {
      color: #141823;
    }

    &.sca_action_selector,
    &.sca_actions {
      flex: 0 0 50px;
      display: flex;
      justify-content: center;

      &.hidden {
        display: none;
      }
    }

    &.actions {
      flex: 0 0 100px;
      display: flex;
      justify-content: center;

      &.hidden {
        display: none;
      }
    }

    &.numeric {
      flex: 0 0 75px;
      display: flex;
      justify-content: center;

      &.hidden {
        display: none;
      }
    }

    &.sc_title_container,
    &.result_issue,
    &.name-container {
      flex: 1 1 auto;
      min-width: 300px;
      text-overflow: ellipsis;
      overflow: hidden;
      //white-space: nowrap;
    }

    &.multiline {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      &.hidden {
        display: none;
      }

      .title {
        font-weight: $theme-font-weight-regular;
        flex: 0 0 auto;
      }

      .description {
        font-weight: $theme-font-weight-regular;
        flex: 0 0 auto;
      }
    }

    &.sc_actions {
      flex: 0 0 50px;
      display: flex;
      justify-content: flex-end;
      position: relative;

      &.hidden {
        display: none;
      }
    }

    &.smaller {
      font-weight: $theme-font-weight-light;
      font-size: 0.8em;
    }

    .fas,
    .far {
      margin-right: .35rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
