@import "../variables";

.flexible-table {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 1 auto;
  overflow: visible;
  width: 100%;

  .row {
    display: flex;
    flex: 0 0 auto;
    align-items: stretch;

    &.hidden {
      display: none;
    }

    & + .row.header {
      margin-top: 1em;
    }

    &:not(.disabled):not(.blocking):not(.locked):hover {
      .column {
        &:not(.invisible):not(.header):not(.disabled) {
          background-color: #F1F1F1;

          .button.secondary:not(.danger) {
            background-color: rgba(255, 255, 255, .65);
          }

          .button.secondary.active {
            background-color: rgba(225, 225, 225, .65);
          }
        }
      }
    }

    &.selected {
      .column:not(.invisible) {
        background-color: #F1F1CA;
      }
    }

    &.disabled {
      .column {
        color: #888;
      }
    }

    &.closed {
      .column.result_issue {
        color: #888;
        text-decoration: line-through;
      }
    }

    &.blocking {
      .column:not(.invisible) {
        background-color: $theme-color-error;
        color: #FFF;
      }

      a:not(.button):not(.list-item),
      .fancy-checkbox + label {
        color: #FFF;
      }

      &:hover {
        .column:not(.invisible) {
          background-color: $theme-color-error-hover;
          color: #FFF;

          a:not(.button):not(.list-item),
          .fancy-checkbox + label {
            color: #FFF;
          }
        }
      }
    }

    &.locked {
      .column:not(.invisible) {
        background-color: $theme-color-warning;
        color: $theme-text-color;
      }

      a:not(.button):not(.list-item),
      .fancy-checkbox + label {
        color: $theme-text-color;
      }

      &:hover {
        .column:not(.invisible) {
          background-color: $theme-color-warning-hover;
        }
      }
    }
  }

  .body.children {
    margin-left: 25px;
  }

  .column {
    flex: 0 0 170px;
    display: flex;
    align-items: center;
    align-content: center;
    padding: .35rem;
    box-sizing: border-box;
    border-bottom: 1px dashed rgba(12, 137, 144, .4);
    max-width: none;
    min-width: 0;

    &.hidden {
      display: none;
    }

    &.header {
      font-size: 0.8em;
      background: transparent;
      font-weight: $theme-font-weight-bold;
      text-transform: uppercase;
      border: none;
      border-bottom: 2px solid $theme-text-color;
      color: $theme-text-color;
      box-sizing: border-box;

      .sort-indicator-asc,
      .sort-indicator-desc {
        display: none;
      }

      &.sort_asc .sort-indicator-asc,
      &.sort_desc .sort-indicator-desc {
        display: inline-flex;
        margin-left: .25em;
      }

      &.invisible {
        border-bottom-color: transparent;
      }

      &.info-icons {
        &.large {
          font-size: 1.2em;
        }
      }
    }

    &.invisible {
      border-bottom-color: transparent;
    }

    &.disabled {
      color: #888;
    }

    &.list {
      flex-direction: column;
      align-items: stretch;
      align-content: stretch;
      justify-content: center;

      &,
      &.name-container {
        overflow: visible;
        text-overflow: unset;
      }

      .line {
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;

        &:not(.hidden) {
          ~ .line {
            padding-top: .75em;
          }
        }

        &.hidden {
          display: none;
        }
      }
    }

    &.grid {
      flex: 0 0 300px;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;

      &:not(.header) {
        > * {
          margin: .15rem;
        }
      }
    }

    &.info-icons {
      flex: 0 0 40px;
      align-items: center;

      &.centered {
        justify-content: center;

        .fas,
        .far,
        .fab {
          margin-left: 0;
          margin-right: 0;
        }
      }

      &:not(.centered) {
        justify-content: flex-end;

        .fas,
        .far {
          + .fas,
          + .far {
            margin-left: -.2em;
          }
        }
      }

      img {
        width: 100%;
      }
    }

    &.sca_action_selector,
    &.sca_actions {
      flex: 0 0 50px;
      display: flex;
      justify-content: center;

      &.hidden {
        display: none;
      }
    }

    &.actions {
      flex: 0 0 100px;
      display: flex;
      justify-content: flex-end;
      padding-right: .5em;

      &.hidden {
        display: none;
      }
    }

    &.numeric {
      flex: 0 0 75px;
      display: flex;
      justify-content: center;

      &.hidden {
        display: none;
      }
    }

    &.sc_title_container,
    &.result_issue,
    &.name-container {
      flex: 1 1 auto;
      min-width: 300px;
      text-overflow: ellipsis;
      overflow: hidden;
      //white-space: nowrap;
    }

    &.multiline {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      overflow: visible;

      &.hidden {
        display: none;
      }

      .title {
        font-weight: $theme-font-weight-bold;
        flex: 0 0 auto;
      }

      .description {
        font-weight: $theme-font-weight-regular;
        flex: 0 0 auto;
      }
    }

    &.sc_actions {
      flex: 0 0 50px;
      display: flex;
      justify-content: flex-end;
      position: relative;

      &.hidden {
        display: none;
      }
    }

    &.smaller {
      font-weight: $theme-font-weight-light;
      font-size: 0.8em;
    }

    &label {
      text-transform: none;
      color: $theme-text-color;
    }

    .fas,
    .far {
      margin-right: .35rem;

      &:last-child {
        margin-right: 0;
      }
    }

    a,
    a:hover {
      &:not(.button):not(.list-item) {
        display: flex;
        align-items: center;
        border: none;
        font-weight: $theme-font-weight-light;
        padding: .2em;
      }
    }

    .count-badge {
      font-size: 1em;
    }

    .button.secondary {
      color: #141823;
    }

    input {
      &[type=text],
      &[type=search],
      &[type=password] {
        flex: 1 1 100%;
        padding: .35em;
        font-size: 1.05em;

        &.number {
          flex: 0 0 4em;
          max-width: 4em;
        }
      }

      ~ input {
        &[type=text],
        &[type=search],
        &[type=password] {
          margin-left: .35em;
        }
      }

      ~ button,
      ~ .button {
        margin-left: .35em;
      }

      ~ .fancy-dropdown-container {
        margin-left: .35em;
      }
    }

    button,
    .button {
      ~ input {
        &[type=text],
        &[type=search],
        &[type=password] {
          margin-left: .35em;
        }
      }
    }
  }
}
