@import "../variables";

.message-box {
  display: flex;
  width: calc(100% - 20px);
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(200, 200, 200, 0.7);
  align-items: center;
  border-radius: 3px;
  font-weight: $theme-font-weight-light;

  &.type-error {
    background-color: #9F4A54;
    color: #FFF;

    .message {
      color: rgba(255, 255, 255, 1);
    }
  }

  &.type-warning {
    background-color: #FBF2C0;
  }

  &.type-info {
    border-color: #4E6E58;
    color: #FFF;
    font-weight: $theme-font-weight-regular;

  }

  .fas,
  .fab,
  .far {
    margin-right: 5px;

    &.icon {
      &.large {
        font-size: 2.4em;
        margin-right: .5em;
      }
    }
  }

  .title {
    flex: 1 1 auto;
    font-size: 1.1em;
    font-weight: $theme-font-weight-bold;
  }

  .message {
    flex: 1 1 auto;
    font-size: 1em;
    display: flex;
    flex-direction: column;

    & + .actions {
      margin-left: 10px;
    }
  }

  .actions {
    flex: 0 0 auto;
    flex-direction: column;
    align-items: flex-end;
  }

  .image-container {
    flex: 0 0 60px;
    box-sizing: border-box;
    padding: 0 1em 0 .5em;

    img {
      width: 100%;
      height: auto;
    }
  }

  .command_box {
    font-size: .85em;
  }
}
