@import "../variables";

.message-box {
  display: flex;
  width: calc(100% - 20px);
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  border: none;
  align-items: center;
  border-radius: 5px;
  font-weight: $theme-font-weight-regular;

  &.hidden {
    display: none;
  }

  &.type-error {
    background-color: $theme-color-error;
    color: #FFF;

    .message {
      color: rgba(255, 255, 255, 1);
    }
  }

  &.type-warning {
    background-color: $theme-color-warning;
    color: $theme-text-color;
  }

  &.type-info {
    border-color: transparent;
    color: #FFF;
    background: $theme-color-info;

    a {
      &,
      &:hover {
        color: #FFF;
        font-weight: $theme-font-weight-heavy;
        text-decoration: none;
        border-bottom: 1px dotted #FFF;
      }
    }
  }

  .command_box {
    background-color: rgba(100, 100, 100, .3);

    &.focus {
      font-size: 1.1em;
    }
  }

  &.cdx-alert-primary,
  &.cdx-alert-secondary,
  &.cdx-alert-info,
  &.cdx-alert-success,
  &.cdx-alert-warning,
  &.cdx-alert-danger,
  &.cdx-alert-light,
  &.cdx-alert-dark {
    border: none;
  }

  .fas,
  .fab,
  .far {
    margin-right: 5px;

    &.icon {
      &.large {
        font-size: 2.4em;
        margin-right: .5em;
      }
    }
  }

  .title {
    flex: 1 1 auto;
    font-size: 1.1em;
    font-weight: $theme-font-weight-heavy;
  }

  b {
    font-weight: $theme-font-weight-heavy;
  }

  .message {
    flex: 1 1 auto;
    font-size: 1em;
    display: flex;
    flex-direction: column;

    & + .actions {
      margin-left: 10px;
    }
  }

  .actions {
    flex: 0 0 auto;
    flex-direction: column;
    align-items: flex-end;

    .button {
      &.secondary {
        &,
        &.highlight {
          background-color: rgba(255, 255, 255, .2);
          color: #FFF;
          border: 1px solid transparent;

          &:hover {
            border-color: rgba(255, 255, 255, .4);
          }
        }
      }
    }
  }

  .image-container {
    flex: 0 0 60px;
    box-sizing: border-box;
    padding: 0 1em 0 .5em;

    img {
      width: 100%;
      height: auto;
    }
  }

  .command_box {
    font-size: .85em;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      &:not(.command_box) {
        padding: 0;
      }

      + li {
        margin-left: .25em;
      }
    }
  }
}
