@import "../variables";

.onboarding {
  font-size: 1.35em;
  font-weight: $theme-font-weight-regular;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  line-height: 1.4em;
  padding: 0 0 35px 0;
  display: flex;
  margin: 25px auto;
  flex-direction: column;
  align-items: center;

  &.hidden {
    display: none;
  }

  &.large {
    width: 500px;

    img {
      display: inline-block;
      width: 100%;
    }
  }

  &.small {
    width: 128px;

    img {
      width: calc(100% - 20px);
    }
  }

  .helper-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: .9em;
    margin-top: 25px;
    font-weight: $theme-font-weight-light;

    &::first-line,
    .title {
      font-size: 1.25em;
      font-weight: $theme-font-weight-regular;
    }
  }

  img {
    opacity: 1;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    width: 100%;
  }

  .image-container {
    border-radius: 100%;
    padding: 55px;
    overflow: hidden;
    background-color: rgba(12, 137, 144, .1);
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }

  &.medium {
    .image-container {
      padding: 35px;
      width: 150px;
      height: 150px;
    }
  }

  &.unthemed {
    .image-container {
      background-color: transparent;
    }
  }

  .button-container {
    text-align: center;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    margin: 1rem 0;
    justify-content: space-around;
    font-size: .85em;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 auto;
    margin: 1rem 0;
  }
}
