@import "../variables";

.quicksearch-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) scaleY(0);
  transform-origin: top;
  opacity: 0;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
  background-color: $theme-header-color;
  transition: transform .2s ease-in-out, opacity .2s ease-in-out;
  z-index: 1000;

  &.active {
    transform: translateX(-50%) translateY(-50%) scaleY(1);
    opacity: 1;
  }

  .quicksearch-content {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: stretch;
    justify-content: flex-start;

    .searchbox-container {
      padding: 1em;
      display: flex;
      flex-direction: column;
      align-content: stretch;
      justify-content: stretch;

      input[type=search] {
        &,
        &:hover {
          flex: 0 0 auto;
          padding: .5em .75em;
          font-size: 1.2em;
          font-weight: $theme-font-weight-regular;
          border-radius: 4px;
          border: none;
          background-color: rgba(255, 255, 255, .1);
          color: #FFF;
        }
      }

      .description {
        padding: .5em 0;
        font-style: italic;
        color: #FFF;
      }
    }

    .separator {
      padding: 0;
      border-bottom: 1px solid rgba(255, 255, 255, .4);
      margin: 0 1em 1em 1em;
    }

    .quicksearch-results {
      padding: 0 0 1em 0;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;

      .indicator {
        margin: 2em auto;
        font-size: 2.2em;
        color: #FFF;
      }

      .result-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: stretch;
        color: #FFF;
        padding: .5em 1em;
        background: transparent;

        &.selected {
          background-color: rgba(255, 255, 255, .1);
        }

        .icon {
          flex: 0 0 24px;
          font-size: 1.2em;
        }

        .count-badge {
          color: #FFF;
          margin: 0;
        }

        .name {
          flex: 1 1 auto;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: flex-start;
          font-weight: $theme-font-weight-regular;

          .title {
            font-size: 1.15em;
          }
          .description {
            font-style: italic;
          }
        }
      }
    }
  }
}