@import '../variables';

.related-issues-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  font-size: .9em;

  .related-issue {
    &,
    &:hover {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      box-shadow: rgba(9, 30, 66, 0.25) 0 1px 1px, rgba(9, 30, 66, 0.31) 0 0 1px;
      background-color: #FFF;
      padding: .35em;
      border-radius: .25em;
      font-size: 1em;
      margin-bottom: .5em;
      transition: border .25s ease-in-out;
      border: none;
      color: $theme-text-color;

      .count-badge {
        margin-left: 0;
      }

      .issue-state {
        font-size: .8em;
        margin-right: .35em;
      }

      .issue-title {
        flex: 1 1 auto;
        margin-left: .25em;

        &,
        &:hover {
          color: $theme-text-color;
          border: none;
          text-decoration: none;
        }
      }

      .information {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex: 0 0 auto;
        margin: 0 .75em;
        color: $theme-text-color-lighter;
        font-weight: $theme-font-weight-bold;
        font-size: .9em;

        + .information {
          margin-left: 0;
        }
      }

      .userlink {
        margin-right: .35em;
      }

      &.closed {
        .issue-title {
          text-decoration: line-through;
        }
      }
    }
  }
}