@import "variables";

.fullpage_backdrop {
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: background-color .25s ease-in-out;

  &.see-through {
    background-color: rgba(255, 255, 255, 0);
  }

  &.docked-right,
  &.docked-left {
    align-items: stretch;

    &.docked-right {
      justify-content: flex-end;
    }
    &.docked-left {
      justify-content: flex-end;
    }

    .fullpage_backdrop_content {
      display: flex;
      flex: 1 1 30vw;
      max-width: 600px;
      min-width: 400px;
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;

      .backdrop_box {
        margin: 0;
        flex: 1 1 100%;
        border-radius: 0;

        &,
        &.small,
        &.mediumsmall,
        &.medium,
        &.large,
        &.huge {
          width: auto;
        }
      }
    }
  }

  #fullpage_backdrop_indicator {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    z-index: 100001;
    color: #999;
    font-size: 15px;
    font-weight: $theme-font-weight-regular;
  }

  .fullpage_backdrop_content {
    position: relative;
    z-index: 100001;
    max-height: 100%;

    .backdrop_box {
      z-index: 100001;
      margin: 5px auto;
      font-size: 1em;
      display: flex;
      flex-direction: column;
      padding: 0;
      background-color: rgb(247, 247, 247);
      border: none;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16);
      border-radius: 4px;

      &.small {
        width: 400px;
      }

      &.mediumsmall {
        width: 500px;
      }

      &.medium {
        width: 600px;
      }

      &.large {
        width: 800px;
      }

      &.huge {
        width: 1010px;
      }

      .backdrop_detail_content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
        font-weight: $theme-font-weight-regular;
        font-size: 1.0em;
        padding: .5em;
        text-align: left;
        flex: 1 1 auto;
        box-sizing: border-box;

        &:not(.with-sidebar) {
          background-color: #FFF;
          box-sizing: border-box;
          border-radius: .75em .75em 0 0;
        }

        &.with-sidebar {
          flex-direction: row;
          align-items: stretch;
          justify-content: flex-start;
          padding: 0;
          //background-color: rgba(225, 225, 225, 0.15);

          .sidebar {
            flex: 0 0 15em;
            padding: .75em 0 0 0;
            box-sizing: border-box;

            .list-mode {
              padding: 0;
              font-size: 1.05em;

              .list-item {
                margin: 0;
                border-radius: 0;
              }
            }
          }

          .content {
            flex: 1 1 auto;
            padding: 1em;
            box-sizing: border-box;
            background-color: #FFF;
            border-radius: .75em 0 0 0;

            &.hidden {
              display: none;
            }
          }

          &.sidebar-right {
            .content {
              border-radius: 0 .75em 0 0;

              &.no-sidebar {
                border-radius: .75em .75em 0 0;
              }
            }

            .sidebar {
              flex: 0 0 22em;
            }
          }
        }

        .tab_menu {
          margin-top: 30px;
          margin-bottom: 10px;
          font-size: 1.1em;
        }
      }

      .backdrop_detail_footer {
        flex: 0 0 auto;
        clear: both;
        font-size: 1.1em;
        padding: 5px;
        text-align: right;
        background-color: transparent;
      }

      .backdrop_buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: center;
        padding: 10px;

        button,
        .button {
          + button,
          + .button {
            margin-left: auto;
          }
        }
      }
    }
  }
}

#dialog_backdrop_content,
#dialog_backdrop_modal_content {
  width: 600px;
  overflow: hidden;

  h3 {
    margin: 5px;
    padding: 0 0 7px 0;
    color: #999;
    border-bottom: 1px dotted rgb(185, 185, 185);
    font-weight: $theme-font-weight-regular;
  }

  #dialog_content,
  #dialog_modal_content {
    padding: 0 7px;
    font-size: 1em;
    margin: 0;
    z-index: 1;
    background-color: transparent;
  }

  #dialog_indicator {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    float: none;
  }
}

.backdrop_detail_header {
  box-shadow: none;
  border: none;
  color: $theme-primary-color;
  font-weight: $theme-font-weight-bold;
  font-size: 1.4em;
  margin: 0;
  text-transform: uppercase;
  display: flex;
  //background-color: rgba(225, 225, 225, 0.15);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  span {
    flex: 1 1 auto;
    padding: 10px 15px;
    text-align: left;
    font-weight: $theme-font-weight-heavy;
  }

  .closer,
  .back_link,
  .add_link {
    flex: 0 0 34px;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    vertical-align: middle;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    display: inline-block;
    text-align: center;

    &:hover {
      background-color: $theme-primary-color;
      color: #fff;
    }
  }

  a {
    color: $theme-primary-color;
    border: none;
    text-decoration: none;

    &:hover {
      border: none;
      text-decoration: none;
    }
  }

  .backdrop_detail_header .closer a:hover {
    color: #faa;
  }
}
