@import "variables";

.fullpage_backdrop {
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: background-color .25s ease-in-out;

  &.see-through {
    background-color: rgba(255, 255, 255, 0);
  }

  &.docked-right,
  &.docked-left {
    align-items: stretch;

    &.docked-right {
      justify-content: flex-end;
    }
    &.docked-left {
      justify-content: flex-end;
    }

    .fullpage_backdrop_content {
      display: flex;
      flex: 1 1 30vw;
      max-width: 600px;
      min-width: 400px;
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;

      .backdrop_box {
        margin: 0;
        flex: 1 1 100%;
        border-radius: 0;

        &,
        &.small,
        &.mediumsmall,
        &.medium,
        &.large,
        &.huge {
          width: auto;
        }
      }
    }
  }

  #fullpage_backdrop_indicator {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    z-index: 100001;
    color: #999;
    font-size: 15px;
    font-weight: $theme-font-weight-regular;
  }

  .fullpage_backdrop_content {
    position: relative;
    z-index: 100001;
    max-height: 100%;

    .backdrop_box {
      z-index: 100001;
      margin: 5px auto;
      font-size: 1em;
      display: flex;
      flex-direction: column;
      padding: 0;
      background-color: #FFF;
      border: none;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16);
      border-radius: 4px;

      &.small {
        width: 400px;
      }

      &.mediumsmall {
        width: 500px;
      }

      &.medium {
        width: 600px;
      }

      &.large {
        width: 800px;
      }

      &.huge {
        width: 1010px;
      }

      .backdrop_detail_content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
        font-weight: $theme-font-weight-regular;
        font-size: 1.0em;
        padding: 5px;
        text-align: left;
        flex: 1 1 auto;

        .tab_menu {
          margin-top: 30px;
          margin-bottom: 10px;
          font-size: 1.1em;
        }
      }

      .backdrop_detail_footer {
        flex: 0 0 auto;
        clear: both;
        font-size: 1.1em;
        padding: 5px;
        text-align: right;
        background-color: transparent;
      }
    }
  }
}

#dialog_backdrop_content,
#dialog_backdrop_modal_content {
  width: 600px;
  overflow: hidden;

  h3 {
    margin: 5px;
    padding: 0 0 7px 0;
    color: #999;
    border-bottom: 1px dotted rgb(185, 185, 185);
    font-weight: $theme-font-weight-regular;
  }

  #dialog_content,
  #dialog_modal_content {
    padding: 0 7px;
    font-size: 1em;
    margin: 0;
    z-index: 1;
    background-color: transparent;
  }

  #dialog_indicator {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    float: none;
  }
}

