@import 'variables';

.form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1rem;

  form {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;

    .submit-indicator {
      opacity: 0;
      transition: opacity .25s ease-in-out;
    }

    &.submitting {
      .form-row {
        > input[type=text].invisible,
        > input[type=search].invisible,
        > input[type=url].invisible,
        > input[type=password].invisible {
          border: 1px dashed $theme-primary;

          + label {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }

      .submit-indicator {
        opacity: 1;
      }
    }
  }

  > .column,
  > .row > .column {
    flex: 1 1 50%;
    max-width: 50%;
    min-width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;

    &.small {
      flex: 0 1 35%;

      + .column:not(.small) {
        max-width: none;
      }
    }
  }

  .separator {
    flex: 1 0 100%;
    box-sizing: border-box;
    padding: 1em 1em 0 1em;
    border-bottom: 1px dotted rgba(0, 0, 0, .4);
    margin: 0 1em 1em 1em;
  }

  .form-row {
    flex: 1 0 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: stretch;
    align-content: flex-start;
    box-sizing: border-box;
    padding: .5em;

    h1, h2, h3, h4, h5, h6 {
      flex: 1 1 100%;
    }

    .textarea_container {
      flex: 1 1 100%;
    }

    &.container {
      padding: 0;
    }

    &.header {
      justify-content: space-between;
      justify-items: flex-end;
      padding: .5em .5em 0 .5em;

      button:first-child:last-child,
      .button:first-child:last-child {
        margin-left: auto;
      }
    }

    .password-preview {
      font-size: 1.4em;
    }

    &.centered {
      justify-content: center;

      input[type=text],
      input[type=search],
      input[type=url],
      input[type=number] {
        text-align: center;
      }

      label {
        justify-content: center;
        text-align: center;
      }
    }

    &.unified {
      > input[type=text],
      > input[type=search],
      > input[type=url],
      > input[type=password] {
        flex: 1 1 auto;
      }

      button,
      .button {
        margin-left: 1em;
        white-space: nowrap;
        flex: 0 0 auto;
      }
    }

    &.submit-container {
      justify-content: space-between;
      justify-items: flex-end;
      padding: .8em;

      button:first-child:last-child,
      .button:first-child:last-child {
        margin-left: auto;
      }
    }

    .error {
      display: none;
    }

    &.invalid {
      .error {
        display: flex;
        flex-direction: row;
        color: #D62246;
        font-size: .9em;
        font-weight: $theme-font-weight-bold;
        flex: 0 0 auto;
      }

      > textarea,
      > input[type=text],
      > input[type=search],
      > input[type=url],
      > input[type=password] {
        border-color: #D62246;
        background-color: rgba(214, 34, 70, 2);
      }

    }

    .helper-text {
      flex: 1 1 100%;
      color: rgb(153, 153, 153);
      padding: .5em;
      display: flex;
      align-items: center;
      font-weight: $theme-font-weight-light;

      .far,
      .fas {
        margin-right: .35rem;
      }
    }

    .image-grid {
      label {
        margin: .5em;
        padding: .75em 1em;
        display: inline-block;
        box-sizing: border-box;
        background-color: transparent;
        border-radius: .5em;
        border: 1px solid transparent;

        &:hover {
          background-color: rgba(100, 100, 100, .1);
        }

        img {
          width: 40px;
          height: 40px;
        }
      }

      input {
        display: none;
      }

      input:checked + label {
        border-color: $theme-primary;
      }
    }

    .image-container {
      padding: .5em 1.5em .5em .5em;

      img {
        max-width: 40px;
      }
    }

    > .list-mode {
      width: 100%;
    }

    > label:not(.button) {
      flex: 1 1 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: .8em;
      font-weight: $theme-font-weight-bold;
      transition: color .25s ease-in-out;

      > span {
        flex: 0 0 auto;
        display: flex;
        align-items: center;

        + span {
          margin-left: .35rem;
        }
      }

      a,
      a:hover {
        margin: 0 .35em;
      }

      .icon {
        flex: 0 0 24px;
        margin-right: .5em;
      }
    }

    > textarea,
    > input[type=text],
    > input[type=search],
    > input[type=url],
    > input[type=password] {
      flex: 1 1 100%;
      padding: .2em;
      font-size: 1em;
      box-sizing: border-box;
      font-weight: $theme-font-weight-light;

      &.invisible {
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 4px;
        padding: .35rem;
        flex: 1 1 auto;

        &.title {
          font-weight: $theme-font-weight-regular;
        }

        &.inline {
          flex: 0 0 auto;
        }

        + label {
          opacity: 0;
          transform: translateY(-100%);
          margin-bottom: -1.8em;
        }

        &:hover {
          border: 1px solid transparent;
          background-color: rgba(200, 200, 200, .15);
          cursor: pointer;
        }

        &:focus {
          background: #FFF;
          border-color: $theme-primary;

          &.with-label {
            padding-bottom: 2rem;
          }

          &:hover {
            cursor: text;
          }

          + label {
            opacity: 1;
            transform: translateY(calc(-100% - 2px));
            background: transparent;
            border: 0;
            padding: .35rem;
          }
        }
      }

      &.name-input-enhance {
        font-size: 1.25em;
        padding: .5em .2em;
        border-bottom-width: 2px;
        font-weight: $theme-font-weight-regular;
      }

      &.code-input-6 {
        max-width: 10rem;
      }

      &.number,
      &.prefix-and-key,
      &:not(.invisible).number {
        width: 10rem;
        flex: 0 0 auto;

        &.small {
          width: 5rem;
        }
      }

      &.medium,
      &:not(.invisible).medium {
        width: 20rem;
        flex: 0 0 auto;
      }

      &:focus + label,
      &:active + label {
        color: $theme-primary;
      }
    }

    &.search-container {
      input[type=search] {
        flex: 1 1 auto;
        margin-right: 1em;
        font-size: 1.25em;
        padding: .5em .2em;
        border-bottom-width: 2px;

        & + button {
          flex: 0 0 auto;
        }
      }
    }

    &.add-placeholder {
      > .icon {
        color: rgba(0, 0, 0, 0.4);

        & + textarea,
        & + input[type=text],
        & + input[type=url],
        & + input[type=password] {
          flex: 1 1 calc(100% - 55px);
          margin-left: 1em;
        }
      }
    }

    > textarea {
      flex: 0 0 400px;
      border: none;
      background: rgba(200, 200, 200, .1);
      padding: .3em .7em;
      border-radius: 4px;
      color: #141823;
    }

    > .fancy-dropdown-container {
      flex: 1 1 100%;

      .fancy-dropdown {
        > .value {
          flex: 1 1 auto;
          max-width: none;
        }

        &.embedded {
          background: rgb(255, 255, 255);
          border-color: rgba(200, 200, 200, .3);
          &:hover {
            border-color: $theme-primary;
            cursor: pointer;
          }
          &.active {
            border-color: $theme-primary;
          }
        }

        &.invisible {

          &:not(.embedded) {
            background-color: transparent;

            &:hover {
              background-color: rgba(225, 225, 225, .2);
            }
          }

          &.active,
          &.active:hover {
            border: 2px solid $theme-primary;
          }
        }
      }
    }
  }

}
