@import 'variables';

input, select, textarea, .input {
  font-family: $theme-font-family;
  font-size: 1em;
  color: #555;
  border: none;
  border-bottom: 1px solid #AAA;
  padding: 2px;
  vertical-align: middle;
  font-weight: $theme-font-weight-regular;
  background-color: #FFF;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="url"],
textarea,
select,
.input {
  box-shadow: none;
  vertical-align: middle;

  &[disabled],
  &.disabled {
    background-color: #F9F9F9;
    color: #BBB;
  }
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="url"]:focus, select:focus {
  border-bottom-color: #0C8990;
  outline: none;
}

input[type="image"] {
  border: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  background-color: transparent;
}

input[type="checkbox"] {
  margin: 0;
  vertical-align: middle;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, .35);
}

input:-moz-placeholder {
  color: rgba(0, 0, 0, .35);
}

.input .placeholder {
  color: rgba(0, 0, 0, .35);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex: 1 1 auto;

  .fas,
  .far {
    + span {
      margin-left: .35em;
    }
  }
}

input.shaded,
.input.shaded {
  background-color: rgba(255, 255, 255, .4);
  border-color: transparent;
  color: #FFF;

  &::placeholder {
    color: #FFF;
    opacity: 1;
  }
  &::-webkit-input-placeholder {
    color: #FFF;
    opacity: 1;
  }
  &:-moz-placeholder {
    color: #FFF;
    opacity: 1;
  }
  &:focus {
    border-bottom-color: transparent;
  }
}

input[type=file] {
  display: none;
}