@import 'variables';

.content-with-sidebar {
    &.article-container {
        nav.sidebar {
            background-color: rgb(251, 251, 251);
            box-shadow: -3px 3px 3px -3px rgba(27, 27, 36, 0.2) inset;
            align-items: stretch;
            justify-content: stretch;
            overflow: hidden;

            .scroll-container {
                position: relative;

                .list-mode {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }

            .list-mode {
                &:first-child {
                    flex: 0 0 auto;
                }

                .header-banner {
                    background: linear-gradient(to bottom, rgb(251, 251, 251) 92%, rgba(251, 251, 251, 0) 100%);
                    box-shadow: -3px 3px 3px -3px rgba(27, 27, 36, 0.2) inset;
                }

                .list-item,
                .list-item:hover {
                    font-size: .9rem;
                    margin: .15em 1em 0 1em;

                    &:first-child {
                        margin-top: 0;
                    }

                    &.expandable.expanded {
                        + .submenu {
                            padding-top: 1em;
                            padding-bottom: 1em;
                            border-color: $theme-primary;
                            display: flex;
                            flex-direction: column;
                        }
                    }

                    .name {
                        &,
                        &:hover {
                            padding: .65em;
                        }
                    }
                }

                .submenu {
                    background-color: rgb(245, 245, 245);
                    box-shadow: -3px 0 3px -3px rgba(27, 27, 36, 0.2) inset;
                }
            }
        }

        > div:not(.sidebar) {
            background-color: #FFF;
            box-shadow: none;
        }

        .main_area {
            padding: 0 2em;

            .article {
                font-size: 1.15em;
                font-weight: $theme-font-weight-light;
                color: $theme-text-color;
                width: auto;
                padding: 1em 0;
                position: relative;

                .content {
                    a {
                        color: $theme-primary;
                        border-bottom: 1px dotted $theme-primary;
                    }
                }
                h1, h2, h3, h4, h5, h6 {
                    margin: 20px 0 5px 0;
                    padding: 5px 0;
                    color: $theme-text-color;
                    border-bottom: none;
                    font-weight: $theme-font-weight-bold;

                    &:first-child {
                        margin-top: 5px;
                    }
                    a {
                        font-size: 0.6em;
                        opacity: 0.3;
                        -webkit-transition: opacity 0.3s ease, margin-left 0.3s ease;
                        -moz-transition: opacity 0.3s ease, margin-left 0.3s ease;
                        -ms-transition: opacity 0.3s ease, margin-left 0.3s ease;
                        -o-transition: opacity 0.3s ease, margin-left 0.3s ease;
                        transition: opacity 0.3s ease, margin-left 0.3s ease;
                    }
                    &:hover a {
                        opacity: 1;
                    }
                    &:target { color: #77B; background-color: #F6F6F6; }
                }
                h1 {
                    font-size: 1.8em;
                }
                h2 {
                    font-size: 1.5em;
                }
                h3 {
                    font-size: 1.4em;
                }
                h4 {
                    font-size: 1.25em;
                }
                h5 {
                    font-size: 1.15em;
                }
                h6 {
                    font-size: 1.05em;
                }
                pre {
                    padding: 3px;
                    margin: 5px 0 5px 0;
                    line-height: 1.4;
                    background-color: #F1F1F1;
                    border: 1px solid #B4B4B4;
                    border-radius: 3px;
                    font-family: $theme-font-family-mono;
                    font-size: 12px;
                }

                /* Undo some of the default styling done for code tag if it is nested
                   with pre tag. */
                pre code {
                    padding: 0;
                    border: none;
                }
            }

            .header-container {
                margin-left: 0;
                padding: .5em 0 1em 0;
                max-width: none;

                .title-container {
                    .title-name {
                        font-weight: $theme-font-weight-bold;
                        font-size: 2em;
                    }
                }

                .button-group {
                    padding: 0 1em;
                }
            }

            .details-container {
                font-size: 1em;
                color: $theme-text-color;
                display: flex;

                .avatar-container {
                    flex: 0 0 3em;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    img {
                        width: 2em;
                        height: 2em;
                    }
                }

                .information {
                    flex: 1 1 auto;
                    display: flex;
                    flex-flow: column;
                }
            }
        }
    }
}

.main_area.article.edit {
    padding: 0;
    background: linear-gradient(to bottom, rgba(240, 240, 240, 0) 0%, rgba(240, 240, 240, 0.6) 20px); /* Opera11.10+ */
}
.article.edit textarea {
    font-family: $theme-font-family-mono;
    border: none;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.3em;
    line-height: 1.5em;
    min-height: 450px;
}

.main_area.edit-article {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding-top: 5.5em;

    #article-header-container {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0 1em;
        box-sizing: border-box;
        height: 4.5em;
        border-bottom: 2px solid $theme-primary;
        justify-content: stretch;
        align-items: stretch;
        z-index: 10;

        .logo-back-container,
        .toolbar-container {
            flex: 1 1 auto;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .actions-container {
            flex: 1 1 auto;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .button-group {
                padding: 0;
            }
        }
    }

    .editor-container {
        overflow: visible;
        position: relative;
        width: 100%;
        max-width: 850px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        transition: width .25s ease-in-out, max-width .25s ease-in-out;

        &.wider {
            max-width: 1100px;
        }

        .title-crumbs {
            padding: .6em .25em;
            font-size: 1.15em;
            font-weight: $theme-font-weight-light;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            flex: 0 0 auto;
            color: $theme-text-color-lighter;

            .project-logo {
                width: 2em;
                padding-right: .75em;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                img {
                    box-sizing: border-box;
                    width: 100%;
                }
            }

            .separator {
                margin: 0 .75em;
                font-size: .8em;
            }
        }

        .article-name-container {
            display: flex;
            flex-direction: row;
            flex: 0 0 auto;
            padding: .65em 0 1.3em 0;
            width: 100%;

            input {
                flex: 1 1 auto;
                font-family: $theme-font-family;
                font-size: 1.95em;
                font-weight: $theme-font-weight-regular;

                &:disabled {
                    background: #FFF;
                    color: $theme-text-color-lighter;
                }
            }
        }

        .markItUpHeader {
            display: none;
        }

        .textarea_container {
            &,
            & > div {
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;

                .markItUp {
                    flex: 1 1 auto;
                    display: flex;
                    flex-direction: column;

                    .markItUpContainer {
                        flex: 1 1 auto;
                        display: flex;
                        flex-direction: column;

                        textarea {
                            &,
                            &.markItUpEditor {
                                flex: 1 1 auto;
                                font-family: $theme-font-family;
                                font-size: 1.25em;
                                font-weight: $theme-font-weight-regular;
                                line-height: 1.4em;
                                width: 100%;
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }

        textarea,
        input[type=text] {
            &,
            &:hover {
                border: none;
                padding: 0;
            }
        }
    }

    .markItUpHeader {
        border-bottom: none;
        background-color: transparent;
    }
    .button.syntax_picker:hover,
    .button.syntax_picker.button-pressed { opacity: 1; }
    .more_actions_dropdown { margin-top: 12px; }
    .syntax_picker_container .more_actions_dropdown { font-size: 1em;}

    .markItUpHeader ul li {
        float: none;
        display: inline-block;
    }
    .markItUpHeader ul {
        box-sizing: border-box;
        min-width: 100%;
        padding-left: 15px;
    }

    .header { margin: 10px 0 5px 10px; }
    .editor_header { margin: 0 10px; }
    .article > .header .title_left_images:first-child img { margin-left: 0; }
    .article > .header { border: none; margin-bottom: 0; font-size: 1.8em; }
    .markItUp { margin: 0; }
    .markItUpFooter { display: none; }

    > form {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }
}
.article .header .button-group { float: right; font-size: 0.55em; vertical-align: middle; margin-top: 3px; }
.article .header.edit .button-group { font-size: 0.7em; }
.article .header .button-group .button { padding: 3px 7px; }
.article .header .title_left_images { font-size: 0.6em; font-weight: $theme-font-weight-regular; display: inline-block; height: 26px; width: auto; margin-right: 5px; vertical-align: middle; }
.article .header .title_left_images .fa { font-size: 1.4rem; }

.article .header.edit .parent_article_name { font-size: 0.7em; font-weight: $theme-font-weight-regular; }
.article .header.edit input[type=text] {
    font-size: 0.9em;
    padding: 7px;
    border-radius: 3px;
    box-sizing: border-box;
    width: 100%;
}
.article .header, #article_attachments > h4, #article_comments > h4 { margin: 0 0 5px 0; padding: 2px 3px 3px 0; font-weight: $theme-font-weight-regular; font-size: 21px; border-bottom: none; }
#article_attachments > h4, #article_comments > h4 { font-size: 17px; border-bottom: 1px dotted #CCC; }

.article_list { list-style-type: none; margin: 10px 0 0 5px; padding: 0; font-size: 1em; line-height: 1.6; }
.article_list img { float: left; margin: 0 5px 0 0; }
.article_list span { font-size: 0.9em; }
.article_list span a { font-size: 0.8em; font-weight: $theme-font-weight-regular; }
.article_list .more_news { margin: 10px 0 0 0; }
.article_list li { margin: 0 5px 8px 0; }
.article_list.special_pages a { font-size: 1.1em; }
.article_list.special_pages img { margin-top: 1px; }

.toc .publish_toc_1 { margin: 10px 0 3px 2px; font-size: 1.2em; font-weight: $theme-font-weight-bold; }
.toc .publish_toc_2 { margin: 0 0 3px 7px; font-size: 1.1em; }
.toc .publish_toc_3 { margin: 0 0 3px 13px; font-size: 1.05em; }
.toc .publish_toc_4 { margin: 0 0 3px 20px; font-size: 1em; }
.toc .publish_toc_5 { margin: 0 0 3px 27px; font-size: 0.95em; }
.toc .publish_toc_6 { margin: 0 0 3px 35px; font-size: 0.9em; }

.article-title {
    .status-badge {
        background-color: rgba(39, 124, 186, 0.4);
        color: #FFF;
    }
}
.article .no_articles { color: #AAA; margin: 10px 0; }

.article .publish_article_actions {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    text-align: right;
}
.article .publish_article_actions a, .article .publish_article_actions a:hover {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    border: none;
}
.article .publish_article_actions .button {
    display: inline-block;
    padding: 4px 8px;
    font-size: 1.1em;
    vertical-align: middle;
}

.article .details { color: #AAA; padding-bottom: 15px; }

.article .toc { float: right; margin: 3px 0 15px 25px; width: 350px; box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); padding: 5px; font-size: 12px; position: relative; overflow: visible; background-color: rgba(247, 247, 247, 0.85); }
.article .toc.fixed { position: fixed; right: 10px; }
.article .toc .header { margin: 0; padding: 2px 3px 3px 0; font-weight: $theme-font-weight-bold; font-size: 16px; color: #555; border-bottom: 1px dotted #CCC; margin-bottom: 10px; }
.article .toc .header .button-group { float: right; }
.article .toc .header .button-group button { float: left; font-size: 0.9em !important; font-weight: $theme-font-weight-regular !important; padding: 2px !important; width: 22px; }
.article .toc .faded_out { display: none; }
.article .content .toc a, .article .content .toc a:hover { border-bottom: 0; }
.article .categories { margin: 15px 5px 20px 5px; font-size: 1.1em; }
.article .content { padding-bottom: 5px; clear: both; }
.frontpage .article .content .toc { margin-top: 0; }

.article table { border: 0; border-collapse: collapse; }
.article.edit table, .article.edit table td { border: 0; }
.article table td, .article table th { border: 1px solid #DDD; padding: 4px; font-size: 0.9em; text-align: inherit; color: inherit; }
.article table th { text-align: center; }

.category_list { padding: 0; margin: 0 0 10px 10px; width: 100%; }
.category_list li { margin-left: 10px; float: left; font-size: 1em; width: 33%; }
.category_list div { font-size: 1em; }

#wiki_menu .header { font-size: 1.1em; font-weight: $theme-font-weight-bold; margin-bottom: 5px; }
#wiki_menu .content ul { list-style-type: none; margin: 0; padding: 0; }
#wiki_menu .content ul li { font-size: 0.9em; }
#wiki_menu .content ul li a { font-weight: $theme-font-weight-bold; }

#article_history, #article_diff { border: 0; width: 100%; margin-top: 10px; }
#article_diff { margin-left: 5px; }
#article_history th { background-color: #F1F1F1; border-bottom: 1px dotted #CCC; padding: 2px; }
#article_history tbody tr:hover { background-color: #F5F5F5; }
#article_history tfoot td { border: 0; }
#article_diff tr td { font-family: monospace; border: 0; }
#article_diff tr.odd { background-color: #F5F5F5; }
#article_diff tr:hover { background-color: #EEE; }
INS { display: inline; background-color: #8D8; text-decoration: none; } DEL { display: inline; text-decoration: line-through; background-color: #D88; color: white; }

.article .more_actions_dropdown { position: absolute; margin-top: 9px; width: auto; white-space: nowrap; top: 12px; right: 0; z-index: 1000; font-size: 1.1em; }
.article .more_actions_dropdown li.separator { padding: 0 7px; }
.article .content ul.simple-list li { padding: 5px 0; margin-bottom: 15px; }
.article ul.simple-list li div.namespace_header { font-size: 1.15em; font-weight: $theme-font-weight-bold; margin-bottom: 5px; }
.article ul.simple-list li div.namespace_header span.namespace { text-decoration: underline; }

.article .icleft { float: left; }
.article .icright { float: right; }
.article .iccenter { clear: both; display: inline-block; margin: 10px auto; float: none; }
.article .image_container img { margin-bottom: -6px; }
.article .image_container a img { vertical-align: text-top; }
.article .image_container a { border-bottom: none !important; }
.article .image_container a:hover { border-bottom: 1px dotted #AAA !important; }

#article_comments, #article_attachments { margin: 20px 0 0 5px; }
#article_comments h4, #article_attachments h4 {
    color: #777;
    font-size: 1.2em;
    font-weight: $theme-font-weight-regular;
    padding: 30px 0 5px;
    width: 100%;
    border-bottom: 1px dotted #CCC;
    text-transform: uppercase;
    display: flex; align-items: baseline;
}
#article_comments h4 .header-text, #article_attachments h4 .header-text { flex: 1 1 auto; }
#article_comments button, #article_attachments button { float: right; font-weight: $theme-font-weight-regular !important; padding: 4px 8px !important; font-size: 0.8em !important; }
#article_attachments a.downloadlink { width: initial; }
#article_attachments .removelink { margin-top: 4px; position: absolute; }

.side_bar.manual { padding-top: 5px; }
.side_bar .toggled .header { cursor: pointer; }
.side_bar .toggled .content { display: none; }
.side_bar .toggled.visible .content { display: block; }
.side_bar .toggled .toggle_info { display: block; color: #AAA; font-size: 0.9em; padding: 5px 5px 5px 0; }
.side_bar .toggled.visible .toggle_info { display: none; }
.side_bar .no_items { font-size: 1.1em; }
#manual_sidebar ul { list-style: none; margin: 0 0 0 5px; padding: 0; }
#manual_sidebar > ul { margin-top: 15px; }
#manual_sidebar ul li { font-style: normal; font-weight: $theme-font-weight-regular; }
#manual_sidebar.single_parent > ul > li.parent > a, #manual_sidebar.single_parent > ul > li.parent.selected > a, #manual_sidebar.single_parent > ul > li.parent.parent > a { font-style: normal; font-weight: $theme-font-weight-regular; font-size: 1.2em; }
#manual_sidebar ul li > ul { margin-left: 0; }
#manual_sidebar ul li > ul li.child { padding-left: 18px; }
#manual_sidebar ul li > ul li.child.level_1 { padding-left: 0; }
#manual_sidebar li.selected { font-weight: $theme-font-weight-bold; }
#manual_sidebar li.parent { font-style: italic; font-weight: $theme-font-weight-regular; }
#manual_sidebar li a { color: #333; padding: 5px; border: none; display: block; }
#manual_sidebar li a:hover { color: #333; background-color: rgba(200, 200, 200, .2); border: none; }
#manual_sidebar li img { display: inline-block; vertical-align: middle; margin: 0 3px 0 0; }
#manual_sidebar li span { display: inline-block; vertical-align: middle; }
/*#manual_sidebar.single_parent > ul > li.parent > img { display: none; }*/
#manual_sidebar li img.branch { margin-right: 0; }

#main_container.fullscreen > header,
#main_container.fullscreen > footer {
    display: none;
}
#main_container.distraction-free .article .header .button-group {
    position: fixed;
    top: 5px;
    right: 5px;
}
#main_container.distraction-free .article .header:hover .button-group .button {
    opacity: 1;
}
#main_container.distraction-free .article .header .button-group .button {
    padding: 2px 4px;
    font-size: 0.8em;
    opacity: 0.1;
    transition: opacity 0.3s ease;
}
#main_container.distraction-free .article.edit .header.edit {
    margin: 10px auto;
    width: 900px;
    position: relative;
}
#main_container.distraction-free .article.edit .editor_container {
    margin: -23px 0 0 -450px;
    width: 900px;
    position: absolute;
    left: 50%;
    top: 80px;
    bottom: 104px;
}
#main_container.distraction-free .syntax_picker_container {
    top: 25px;
    z-index: 100;
}
#main_container.distraction-free .syntax_picker_container .button.syntax_picker {
    opacity: 0.1;
}
#main_container.distraction-free .syntax_picker_container .button.syntax_picker:hover {
    opacity: 1;
}
#main_container.distraction-free .textarea_container {
    height: 100%;
}
#main_container.distraction-free #edit_article_form {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
}
#main_container.distraction-free .article.edit .markItUpHeader {
    border: 0;
    margin-top: -25px;
}
#main_container.distraction-free .article.edit textarea {
    box-shadow: none;
    background-color: transparent;
    position: absolute;
    top: 25px;
    height: 100%;
    min-height: 0;
}
#main_container.distraction-free .article.edit .editor_container:before {
    content: '';
    width: 15px;
    height: 15px;
    border: 0;
    border-top: 1px solid rgb(235, 235, 235);
    border-left: 1px solid rgb(235, 235, 235);
    position: absolute;
    left: -5px;
    top: -3px;
    display: block;
    box-shadow: 3px 3px 3px -3px rgba(100, 100, 100, 0.2) inset;
}
#main_container.distraction-free .article.edit .editor_container:after {
    content: '';
    width: 15px;
    height: 15px;
    border: 0;
    border-top: 1px solid rgb(235, 235, 235);
    border-right: 1px solid rgb(235, 235, 235);
    position: absolute;
    right: -3px;
    top: -3px;
    display: block;
    box-shadow: -3px 3px 3px -3px rgba(100, 100, 100, 0.2) inset;
}
#main_container.distraction-free .article.edit .textarea_container:before {
    content: '';
    width: 15px;
    height: 15px;
    border: 0;
    border-bottom: 1px solid rgb(235, 235, 235);
    border-left: 1px solid rgb(235, 235, 235);
    position: absolute;
    left: -5px;
    bottom: -28px;
    display: block;
    box-shadow: 3px -3px 3px -3px rgba(100, 100, 100, 0.2) inset;
}
#main_container.distraction-free .article.edit .textarea_container:after {
    content: '';
    width: 15px;
    height: 15px;
    border: 0;
    border-bottom: 1px solid rgb(235, 235, 235);
    border-right: 1px solid rgb(235, 235, 235);
    position: absolute;
    right: -3px;
    bottom: -28px;
    display: block;
    box-shadow: -3px -3px 3px -3px rgba(100, 100, 100, 0.2) inset;
}
#main_container.distraction-free #change_reason_container {
    width: 900px;
    margin: 0 0 0 -450px;
    padding: 15px 0;
    position: absolute;
    bottom: 50px;
    left: 50%;
}
#main_container.distraction-free .publish_article_actions {
    width: 900px;
    margin: 0 0 0 -450px;
    padding: 15px 0;
    position: absolute;
    bottom: 15px;
    left: 50%;
}

.article ul
{
    line-height: 1.8;
}

#viewissue_comments .article ul li a
{
    word-break: break-all;
    word-wrap: break-word;
    -ms-word-break: break-all;
}

/* BEGIN: modules/publish/ contributions styling */
.full_width_table.outter {
    overflow-x: auto;
}

.full_width_table.inner {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.full_width_table.inner th, .full_width_table.inner td {
    width: 1%;
    white-space: nowrap;
}

.full_width_table.inner th:last-of-type, .full_width_table.inner td:last-of-type {
    width: auto;
    white-space: normal;
}
/* END: modules/publish/ contributions styling */
