#reportissue_additional_information_container {
  display: none;

  &.visible {
    display: flex;
  }
}

#report_issue_form {
  .form-row {
    &.submit-container {
      justify-content: flex-end;
    }
  }

  .row {
    &.additional-information-container {
      flex-wrap: wrap;

      .form-row {
        flex: 0 0 33%;
      }
    }
  }
}