@import 'variables';
#project_planning {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#project_roadmap {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  > .indicator {
    display: none;
  }

  &.loading {
    > .indicator {
      display: block;
    }
  }
}

.milestone-cards-container {
  display: flex;
  flex-direction: row;
  overflow: auto;
  box-sizing: border-box;
  min-width: 100%;
  flex: 1 1 100%;
  height: 100%;
}

.milestone-container {
  flex: 0 0 350px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-content: stretch;
  align-items: flex-start;
  padding: 1em .5em;

  .milestone-card {
    flex: 1 1 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: .5em 0;
    margin: 0;
    opacity: 1;
    z-index: 1;
    background: #FFF;
    border: none;
    box-shadow: rgba(9, 30, 66, 0.25) 0 1px 1px, rgba(9, 30, 66, 0.31) 0 0 1px;
    border-radius: 3px;
    transform: translateY(0);
    color: #141823;
    transition: box-shadow .25s ease-in-out;

    .indicator {
      display: none;
      margin-left: auto;
      color: $theme-text-color-lighter;
    }

    &.loading {
      .indicator {
        display: inline-block;
      }

      .header {
        .info {
          > span {
            &:last-child {
              margin-left: .35em;
            }
          }
        }
      }
    }

    .header {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid rgba(100, 100, 100, 0.2);
      box-sizing: border-box;

      .name {
        font-size: 1.3em;
        font-weight: $theme-font-weight-bold;
        padding: .5em;
        line-height: 1em;
        box-sizing: border-box;
      }

      .info {
        padding: .65em;
        font-weight: $theme-font-weight-bold;
        color: $theme-text-color-lightest;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;

        > span {
          flex: 0 0 auto;

          &:last-child {
            margin-left: auto;
          }
        }
      }

      .percent-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        box-sizing: border-box;
        padding: .65em;

        .percent-header {
          font-weight: $theme-font-weight-bold;
          font-size: 1em;
          box-sizing: border-box;
          padding: 0 0 .35em 0;
        }

        .percent_unfilled {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: stretch;
          flex: 1 1 auto;
          height: 10px;

          .percent_filled {
            flex: 0 0 auto;
            min-width: 1%;
            height: 100%;
          }
        }
      }
    }

    .issues {
      display: flex;
      flex-direction: column;

      .milestone-issue {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        cursor: pointer;
        font-size: .9em;

        &.issue_closed {
          .issue-header {
            text-decoration: line-through;
          }
        }

        .issue-header {
          display: flex;
          flex-direction: column;
          padding: .3em .75em;

          .dropper-container {
            display: none;
          }

          .issue-number {
            font-size: .9em;
            font-weight: $theme-font-weight-light;
          }

          .issue-title {
            font-size: 1.2em;
            font-weight: $theme-font-weight-regular;
          }
        }

        .issue-info {
          padding: .5em .75em;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;

          &:empty {
            padding: 0;
          }

          .attachments {
            padding: .25em .5em;
            border-radius: .25em;
            align-items: center;
            justify-content: flex-start;
            display: flex;
            flex-direction: row;
            background: rgba(200, 200, 200, .2);
            color: $theme-text-color-lighter;
            font-size: .9em;
            font-weight: $theme-font-weight-regular;
            margin-right: .5em;

            .fas,
            .far {
              + span {
                margin-left: .25em;
              }
            }
          }

          .status-badge {
            padding: .3em .5em;
          }

          .assignee {
            margin-left: auto;
          }
        }

        + .milestone-issue {
          border-top: 1px solid rgba(100, 100, 100, 0.2);
        }
      }
    }
  }
}

.milestone_virtual_status {
  .statusblocks {
    display: block;
    width: 100%;
    height: 100%;
  }

  .statusblock {
    display: block;
    float: left;
    clear: none;
    height: 27px;
    opacity: 0.2;
    transition: opacity 0.3s ease;
    margin-top: 0;
    margin-left: 0;

    &:hover {
      opacity: 0.35;
    }
  }

  .milestonename {
    position: absolute;
    width: 100%;
    left: 6px;
    top: 7px;
    font-size: 0.9em;
    line-height: 1em;
    padding: 0;
  }

  .milestone_percentage {
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0;
  }

  .tooltip {
    font-size: 0.9em;
    opacity: 1;
  }
}


