/* search styling */
/* search boxes */

#find_issues {
  display: flex;
  width: 100%;
  flex-direction: column;

  .results_header {
    font-weight: 600;
    font-size: 1.4em;
    padding: 10px;
    margin: 0;
    border: none;
    color: #333;
    background: transparent;
    box-shadow: none;
    position: relative;
    display: flex;
    align-items: center;

    .count-badge {
      margin-left: 10px;
    }

    .searchterm {
      font-weight: 300;
      font-style: italic;
    }
  }
}

.bulk-action-container {
  display: flex;
  flex: 0 0 auto;
  margin-left: auto;

  &.fixed {
    position: fixed;
    top: 0;
    left: 30px;
    right: 6px;
    z-index: 100;
    margin: 0 -6px 0 -30px;
    transition: margin-left 0.3s ease-in-out, margin-right 0.3s ease-in-out;

    .search-bulk-actions {
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
      border-bottom-style: solid;
    }
  }

  .search-bulk-actions {
    font-size: .9rem;
    font-weight: 400;
    opacity: 1;
    transition: opacity .2s ease;
    border-right: 0;
    display: flex;

    .fancydropdown-container {
      margin-right: .35rem;
    }

    &.unavailable {
      //opacity: 0;
    }
  }
}

#search-builder {
  display: flex;
  width: 100%;
  flex-direction: row;

  form {
    display: flex;
    width: 100%;
    flex-direction: row;
  }

  .search-and-filters-strip {
    background: transparent;
    border-bottom: 1px solid rgba(200, 200, 200, 0.6);
    padding: 0 .5rem .5rem .5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: nowrap;

    .search-strip {
      flex: 0 0 auto;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;

      > input[type=search] {
        border: none;
        background: rgba(220, 220, 220, .15);
        padding: .5em 1em;
        font-size: 1.1em;
        border-radius: 4px;
        color: #141823;
        margin: 0 .35rem 0 0;
        flex: 1 1 65%;
      }
    }

    .filters {
      flex: 0 0 auto;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      margin-top: .35rem;

      #add-search-filter-button {
        align-self: flex-start;
        margin-top: .35rem;
      }

      #search-filters {
        flex: 1 1 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        max-width: calc(100% - 40px);

        .filter {
          margin: 0 .35rem .35rem 0;
        }
      }
    }

    .filter {
      margin-right: .35rem;
    }

    .list-item .far.issuetype-icon,
    .list-item .fas.issuetype-icon {
      font-size: .9em;
    }
  }

  #search-filters-hidden-container {
    display: none;
  }
}

/* search results */
#search_results_container {
  position: relative;
}

#search_results_loading_indicator {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
}

#search_results_loading_indicator img {
  vertical-align: middle;
}

.search-results {
  margin: 0;
  padding: 1.5rem 2.5rem 0 1rem;
  font-size: .9rem;

  h5 {
    margin: 0;
    padding: 6px;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    background-color: #FFF;
  }

  .results_container {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .row {
      display: flex;
      flex: 0 0 auto;

      &:hover {
        .column {
          &:not(.invisible):not(.header) {
            background-color: #F1F1F1;
          }
        }
      }

      &.selected {
        .column:not(.invisible) {
          background-color: #F1F1CA;
        }
      }

      &.closed {
        .column:not(.invisible) {
          color: #888;
          text-decoration: line-through;
        }
      }

      &.blocking {
        .column:not(.invisible) {
          background-color: #FCC;
        }

        &:hover {
          .column:not(.invisible) {
            background-color: #E0aC9C;
          }
        }
      }
    }

    .column {
      flex: 0 0 170px;
      display: flex;
      align-items: center;
      padding: .35rem;
      box-sizing: border-box;
      border-bottom: 1px dashed rgba(12, 137, 144, .4);

      a,
      a:hover {
        display: flex;
        align-items: center;
        border: none;
        font-weight: 400;
        padding: .2em;
      }

      &.header {
        font-size: 0.8em;
        background: #FFF no-repeat 5px center;
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        border-bottom: 2px solid #0C8990;
        color: #0C8990;

        &.invisible {
          border-bottom-color: transparent;
        }
      }

      &.invisible {
        border-bottom-color: transparent;
      }

      &.info-icons {
        flex: 0 0 25px;
        display: flex;
        justify-content: center;
      }

      &.sca_action_selector,
      &.sca_actions {
        flex: 0 0 35px;
        display: flex;
        justify-content: center;
      }

      &.sc_title_container,
      &.result_issue {
        flex: 1 1 auto;
      }

      &.sc_actions {
        flex: 0 0 50px;
        display: flex;
        justify-content: flex-end;
        position: relative;
      }

      &.smaller {
        font-size: 0.8em;
      }

      .fas,
      .far {
        margin-right: .35rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .priority_1 .column.sc_priority,
  h5.priority_1 {
    color: #C30000;
    font-weight: 600;
  }

  .priority_2 .column.sc_priority,
  h5.priority_2 {
    color: #FA0;
    font-weight: 600;
  }

  .priority_4 .column.sc_priority,
  h5.priority_4,
  .priority_5 .column.sc_priority,
  h5.priority_5 {
    color: #070;
    font-weight: 300;
  }

  h5.priority_4,
  h5.priority_5 {
    font-weight: 600;
  }
}

.frontpage-results {
  .search-results {
    table {
      border: 1px solid rgba(200, 200, 200, .4);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    h5 {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color: rgba(200, 200, 200, .4);

      &:not(:first-child) {
        margin-top: 15px;
      }
    }

    th, td {
      padding: 4px;
    }

    th {
      background-color: rgba(200, 200, 200, .2);
      border-bottom: 1px solid rgba(200, 200, 200, .4);

      &:last-child {
        border-right: 1px solid rgba(200, 200, 200, .4);
      }
    }
  }
}

/*.search-results tr.priority_1 td { background-color: #EFE; }
.search-results tr.priority_2 td { background-color: #DFD; }
.search-results tr.priority_3 td { background-color: #FFD; }
.search-results tr.priority_4 td { background-color: #EEA; }
.search-results tr.priority_5 td { background-color: #FCC; }
.search-results tr.priority_6 td { background-color: #FAA; }*/
/* end results */
