@import "variables";
/* search styling */
/* search boxes */

#find_issues {
  display: flex;
  width: 100%;
  flex-direction: column;

  .results-header {
    font-weight: $theme-font-weight-bold;
    font-size: 1.4em;
    padding: 10px;
    margin: 0;
    border: none;
    color: #333;
    background: transparent;
    box-shadow: none;
    position: relative;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    z-index: 10;

    .count-badge {
      margin-left: 10px;
    }

    .searchterm {
      font-weight: $theme-font-weight-regular;
      font-style: italic;
    }
  }
}

.bulk-action-container {
  display: flex;
  flex: 0 0 auto;
  margin-left: auto;
  align-items: center;

  &.fixed {
    position: fixed;
    top: 0;
    left: 30px;
    right: 6px;
    z-index: 100;
    margin: 0 -6px 0 -30px;
    transition: margin-left 0.3s ease-in-out, margin-right 0.3s ease-in-out;

    .search-bulk-actions {
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
      border-bottom-style: solid;
    }
  }

  .search-bulk-actions {
    font-size: .9rem;
    font-weight: $theme-font-weight-regular;
    opacity: 1;
    transition: opacity .2s ease-in-out;
    border-right: 0;
    display: flex;
    transform: scaleX(1);
    transform-origin: right;

    .fancy-dropdown-container {
      margin-right: .35rem;
    }

    &.unavailable {
      opacity: 0;
      transition: transform 0s ease-in-out .25s, opacity .2s ease-in-out;
      transform: scaleX(0);
    }
  }
}

.top-search-filters-container {
  flex: 0 0 auto;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;

  form {
    display: flex;
    width: 100%;
    //flex-direction: row;
    flex-wrap: wrap;
  }

  > .header,
  .search-and-filters-strip > .header {
    flex: 0 0 auto;
    width: 100%;
    padding: 0 1em;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    display: flex;

    .name-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      flex: 0 0 auto;
      padding: 1em 0;

      .project-name {
        font-size: 1em;
        color: $theme-text-color;
        font-weight: $theme-font-weight-regular;
      }

      .board-name {
        font-size: 1.5em;
        color: $theme-primary;
        font-weight: $theme-font-weight-bold;
      }
    }

    .stripe-container {
      flex: 1 1 auto;
      padding: 0 2.5em;
      display: flex;
      align-items: center;
      justify-content: center;

      .stripe {
        height: .3em;
        border-radius: .3em;
        background-color: $theme-primary;
        flex: 1 1 100%;
      }
    }

    .fancy-tabs {
      width: auto;
      flex: 0 0 auto;
      //margin-left: auto;
    }
  }

  .search-and-filters-strip {
    background: transparent;
    border-bottom: 1px solid rgba(200, 200, 200, 0.6);
    padding: 0 .5rem .5rem .5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: nowrap;

    .fancy-dropdown-container {
      .fancy-dropdown {
        &:not(.shaded) {
          background: rgb(255, 255, 255);
          border: 1px solid rgba(200, 200, 200, .3);
          &:hover {
            border-color: #0C8990;
            cursor: pointer;
          }
          &.active {
            border-color: #0C8990;
          }
        }
      }
    }

    .search-strip {
      flex: 0 0 auto;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;

      > input[type=search] {
        padding: .5em 1em;
        font-size: 1.1em;
        border-radius: 4px;
        color: #141823;
        margin: 0 .35rem 0 0;
        flex: 0 0 25em;
        font-weight: $theme-font-weight-light;

        &:not(.shaded) {
          background: rgb(255, 255, 255);
          border: 1px solid rgba(200, 200, 200, .3);
          &:hover {
            border-color: #0C8990;
          }
        }

        + .dropper-container {
          margin-left: auto;
        }
      }

      button.settings,
      button.primary {
        margin-left: auto;
      }
    }

    .filters-strip {
      flex: 0 0 auto;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      margin-top: .35rem;

      .add-item-button {
        align-self: flex-start;
        margin-top: .35rem;
      }

      .filters {
        flex: 1 1 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        max-width: calc(100% - 40px);

        .filter {
          margin: 0 .35rem .35rem 0;
        }
      }
    }

    .filter {
      margin-right: .35rem;
    }

    .list-item .far.issuetype-icon,
    .list-item .fas.issuetype-icon {
      font-size: .9em;
    }
  }

  #search-filters-hidden-container {
    display: none;
  }
}

/* search results */
#search_results_container {
  position: relative;
  flex: 1 1 auto;
  overflow: hidden;
}

#search_results_loading_indicator {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
}

#search_results_loading_indicator img {
  vertical-align: middle;
}

.search-results {
  margin: 0;
  padding: 1.5rem 0 0 0;
  font-size: .9rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  h5 {
    margin: 2rem 0 0 2rem;
    padding: 6px;
    font-size: 1.2em;
    font-weight: $theme-font-weight-bold;
    text-transform: uppercase;
    border: none;
    background-color: transparent;

    &:first-child {
      margin-top: 0;
    }
  }

  .priority_1 .column.sc_priority,
  h5.priority_1 {
    color: #C30000;
    font-weight: $theme-font-weight-bold;
  }

  .priority_2 .column.sc_priority,
  h5.priority_2 {
    color: #FA0;
    font-weight: $theme-font-weight-bold;
  }

  .priority_4 .column.sc_priority,
  h5.priority_4,
  .priority_5 .column.sc_priority,
  h5.priority_5 {
    color: #070;
    font-weight: $theme-font-weight-regular;
  }

  h5.priority_4,
  h5.priority_5 {
    font-weight: $theme-font-weight-bold;
  }
  .yellow_borderless {
    .user_pain {
      color: #B6aC6D;
    }
  }

  .user_pain,
  .votes {
    font-size: 1.5em;
  }

  .votes {
    color: #88C;
  }

  .red_borderless {
    .user_pain {
      color: #B55;
    }
  }

  .userpain_below_threshold .column {
    border-top: 2px solid #B77;
  }
}

.frontpage-results {
  .search-results {
    table {
      border: 1px solid rgba(200, 200, 200, .4);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    h5 {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color: rgba(200, 200, 200, .4);

      &:not(:first-child) {
        margin-top: 15px;
      }
    }

    th, td {
      padding: 4px;
    }

    th {
      background-color: rgba(200, 200, 200, .2);
      border-bottom: 1px solid rgba(200, 200, 200, .4);

      &:last-child {
        border-right: 1px solid rgba(200, 200, 200, .4);
      }
    }
  }
}

/*.search-results tr.priority_1 td { background-color: #EFE; }
.search-results tr.priority_2 td { background-color: #DFD; }
.search-results tr.priority_3 td { background-color: #FFD; }
.search-results tr.priority_4 td { background-color: #EEA; }
.search-results tr.priority_5 td { background-color: #FCC; }
.search-results tr.priority_6 td { background-color: #FAA; }*/
/* end results */
