.content-with-sidebar {
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;

  > div:not(.sidebar) {
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    flex: 1 1 auto;
    //box-shadow: 3px 3px 3px -3px rgba(0, 0, 0, 0.3) inset;
    box-shadow: 3px 3px 5px -3px rgba(27, 27, 36, 0.2) inset;
    background-color: rgba(225, 225, 225, .15);
  }
}

nav.sidebar {
  flex: 0 0 350px;
  display: flex;
  flex-direction: column;
  background: #FFF;
  transition: flex .2s ease-in-out;
  height: 100%;
  overflow: auto;

  & > div {
    flex: 1 1 auto;
  }

  .onboarding {
    flex: 0 0 auto;
    margin-bottom: 0;
    padding-bottom: 1em;

    .image-container {
      background: transparent;
      width: 100%;
      padding: 1em 0;
      height: auto;

      img {
        width: 70px;
        height: 70px;
        margin: 0 6em;
      }
    }

    .helper-text {
      margin-top: 1em;
      font-size: .6em;
      line-height: 1.3em;
    }

    button {
      width: calc(100% - 4em);
      margin: 1em auto;
    }
  }

  .collapser {
    flex: 0 0 auto;
  }

  &.collapsed {
    flex: 0 0 75px;
    overflow: visible;

    .header-banner {
      .header-name {
        .image-container {
          flex: 0 0 auto;
          padding-bottom: 0;
          margin-right: 0;
          flex-shrink: initial;
        }

        .name-container {
          display: none;
        }
      }

      .button-group {
        padding: 5px;
        margin: 5px;
        border-top: 1px solid rgba(100, 100, 100, .3);
        border-bottom: 1px solid rgba(100, 100, 100, .3);
        flex-direction: column-reverse;

        .button {
          &.secondary {
            display: none;
          }

          span {
            display: none;
          }

          .far,
          .fas {
            margin-right: 0;
          }

          & + .button {
            margin: 0;
            justify-content: center;
          }
        }
      }
    }

    .onboarding {
      width: 0;
      overflow: hidden;
    }

    .collapser {
      .icon {
        transform: rotate(180deg);
      }
    }
  }

  .expanded + .submenu {
    margin-bottom: .5rem;
  }
}
