.content-with-sidebar {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  height: calc(100vh - 85px);
  max-height: calc(100vh - 85px);

  > div:not(.sidebar) {
    height: calc(100vh - 85px);
    overflow: hidden;
    flex: 1 1 auto;
    box-shadow: 3px 3px 3px -3px rgba(0, 0, 0, 0.3) inset;
    background-color: rgba(225, 225, 225, .15);
  }
}

nav.sidebar {
  flex: 0 0 350px;
  display: flex;
  flex-direction: column;
  background: #FFF;
  transition: flex .2s ease-in-out;

  & > div {
    flex: 1 1 auto;
  }

  .collapser {
    flex: 0 0 auto;
  }

  &.collapsed {
    flex: 0 0 45px;

    .header-banner {
      .header-name {
        .image-container {
          flex: 0 0 auto;
          padding-bottom: 0;
          margin-right: 0;
          flex-shrink: initial;
        }

        .name-container {
          display: none;
        }
      }

      .button-group {
        padding: 5px;
        margin: 5px;
        border-top: 1px solid rgba(100, 100, 100, .3);
        border-bottom: 1px solid rgba(100, 100, 100, .3);
        flex-direction: column-reverse;

        .button {
          span {
            display: none;
          }

          .far,
          .fas {
            margin-right: 0;
          }

          & + .button {
            margin: 0 0 5px 0;
            justify-content: center;
          }
        }
      }
    }

    .collapser {
      .icon {
        transform: rotate(180deg);
      }
    }
  }

  .expanded + .submenu {
    margin-bottom: .5rem;
  }
}
