$theme-primary: #0C8990 !default;
$theme-text-color: #141823 !default;
$theme-text-color-lighter: #4c5672 !default;

$theme-font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
$theme-font-family-logo: 'Simplifica', sans-serif;
$theme-font-family-mono: 'Fira Mono', monospace;

$theme-font-weight-light: 300;
$theme-font-weight-regular: 400;
$theme-font-weight-bold: 600;
