@import "variables";

.viewissue-container,
.content-with-sidebar > div.viewissue-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: left;
  height: 100%;
  overflow: auto;
}

.issue-state,
.affected-state {
  display: inline-flex;
  padding: .15em .25em;
  font-size: 1em;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, .1);

  &.closed,
  &.unconfirmed {
    background-color: rgba(150, 150, 150, 0.2);
    color: rgba(100, 100, 100, 0.7);
  }

  &.open,
  &.confirmed {
    background-color: rgba(177, 210, 143, 0.6);
    color: rgba(107, 140, 73, 0.8);
  }
}

.viewissue-container {
  .issue-card {
    display: flex;
    flex: 0 0 auto;
    max-width: 1650px;
    margin: 0 1rem;
    flex-direction: row;
    box-sizing: border-box;
    align-items: flex-start;
    background: #FFF;
    //box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px 0 rgba(27, 27, 36, .2);
    border-radius: 4px;
    padding: 10px;
    z-index: 200;

    .fields-list-container {
      border: none;
      padding: 0;
      margin: 0;
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      opacity: 1;
      transform-origin: top center;
      transition: transform .25s ease-in-out, opacity .25s ease-in-out, height .25s ease-in-out;
      height: auto;

      &.not-visible {
        opacity: 0;
        transform: scaleX(0);
        height: 1px;
      }

      > .header {
        border: none;
        padding: 0;
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: stretch;
        color: rgba(0, 0, 0, 0.6);
        font-size: 1em;

        .icon {
          flex: 0 0 24px;
          display: flex;
          flex-direction: column;
          padding-top: .15em;
          color: rgb(200, 200, 200);

          .far,
          .fas {
            flex: 0 0 24px;
            box-sizing: border-box;
          }
        }

        .name {
          flex: 1 1 auto;
          padding: 0;
          font-size: 1.3em;
          line-height: 1em;
          font-weight: $theme-font-weight-bold;
        }
      }

      .content {
        flex: 1 1 auto;
        margin-left: 24px;
        font-size: 1.1em;
        font-weight: $theme-font-weight-light;
        margin-bottom: 2em;
      }

      > ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: 0;
        padding: 0;

        li {
          flex: 0 0 auto;

          dl {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0;
            padding: 0;

            dt {
              flex: 0 0 auto;
              display: block;
              margin: 0;
              padding: 0;
            }

            dd {
              flex: 0 0 auto;
              display: block;
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }

    .issue-card-main {
      border: none;
      flex: 1 1 auto;
      margin: 0;
      overflow: visible;
      box-sizing: border-box;
      display: flex;
      height: 100%;
      flex-direction: column;

      .card-header {
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin-bottom: 1.5em;

        .workflow-actions-container {
          flex: 1 1 auto;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
          flex-wrap: wrap;

          > ul {
            flex: 1 1 auto;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: flex-start;
            align-content: flex-start;
            justify-content: flex-end;
            justify-items: flex-start;
            list-style: none;
            padding: 0;
            margin: 0;

            > li {
              position: relative;

              &.workflow {
                flex: 1 1 auto;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-end;

                .tooltip-container {
                  position: relative;
                  margin-bottom: .35rem;

                  & + .tooltip-container {
                    margin-left: .35rem;
                  }
                }
              }

              .not-editable {
                color: rgb(150, 150, 150);
                margin: 0 1.5em .35em 0;
                display: flex;
                align-items: center;
                height: 100%;
                position: relative;

                .fas, far {
                  margin-right: .35em;
                }
              }
            }

            li + li {
              margin-left: .35rem;
            }
          }
        }
      }

      .issue-details {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        .content {
          font-size: 1.15em;

          p + p {
            margin-top: 1em;
          }
        }
      }

      .attached-items {
        list-style: none;
        padding: 0;
        margin: 5px 0 0 0;

        a.downloadlink,
        a.downloadlink:hover {
          display: inline-block;
          font-size: 1em;
          width: 303px;
          vertical-align: middle;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0 5px 0 0;
          text-decoration: none;
          border: none;

          img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
          }
        }
      }

      .fields-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        li {
          flex: 1 1 auto;
          max-width: 50%;
          min-width: 33%;
        }
      }
    }

    .issue-fields {
      flex: 0 0 400px;
      margin: 1em 0 1em 1em;
      padding: 0 1em;
      display: flex;
      border-left: 1px solid rgba(150, 150, 150, .3);
      flex-direction: column;
      height: calc(100% - 4em);
      box-sizing: border-box;
      box-shadow: 4px 0 7px -8px rgba(0, 0, 0, .3) inset;
      border-radius: 0;

      .fields-list-container {
        > .header {

          .name {
            display: flex;
            align-items: center;
            font-weight: $theme-font-weight-regular;
            text-transform: uppercase;
            color: rgb(125, 125, 125);
            font-size: 1.2em;
            padding: 0 0 .5em 0;
          }
        }

        & + .fields-list-container:not(.not-visible) {
          margin-top: 2em;
        }
      }
    }

    .fields-list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;

      > li {
        display: flex;
        align-items: center;
        position: relative;

        .fancy-dropdown-container {
          .fancy-dropdown {
            background-color: transparent;

            &:hover {
              background-color: rgba(200, 200, 200, .1);
            }

            > label {
              font-weight: $theme-font-weight-bold;
              flex: 0 1 140px;
              text-transform: none;
              color: #141823;
            }
          }
        }

        > .label {
          font-weight: $theme-font-weight-bold;
          flex: 0 1 140px;
          padding: 7px 12px;
        }

        > .value {
          flex: 1 1 auto;
          font-weight: $theme-font-weight-light;

          .value-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            justify-content: stretch;
            border-radius: 4px;
            border: 1px solid transparent;
            transition: background-color .25s ease-in-out, border .25s ease-in-out;
            padding: .35em 0;

            &.dropper {
              padding: .6em;

              .dropdown-indicator {
                opacity: 0;
                color: rgb(100, 100, 100);
                transition: opacity .25s ease-in-out;
              }

              &:hover,
              &.active {
                border-color: rgba(200, 200, 200, .3);

                .dropdown-indicator {
                  opacity: 1;
                }
              }
            }

            span {
              flex: 1 1 auto;
            }

            .dropdown-indicator {
              flex: 0 0 24;
            }
          }
        }
      }
    }

    .fancy-tabs {
      flex: 0 0 auto;
      align-self: flex-end;
    }

    .fancypanes {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
    }
  }

  .comments {
    width: calc(100% - 2rem);
    max-width: 1650px;
    margin: 0 1rem 3rem 1rem;
  }
}
