@import "variables";
@import 'widgets/workflow-actions';
@import 'components/issue-fields-list';

.viewissue-container,
.content-with-sidebar > div:not(.sidebar):not(.fixed-position).viewissue-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: left;
  height: 100%;
  overflow: auto;
  background-color: #FFF;
  align-items: stretch;
  z-index: 5;
}

.issue-state,
.affected-state {
  display: inline-flex;
  padding: .15em .25em;
  font-size: 1em;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, .1);

  &.closed,
  &.unconfirmed {
    background-color: rgba(150, 150, 150, 0.2);
    color: rgba(100, 100, 100, 0.7);
  }

  &.open,
  &.confirmed {
    background-color: rgba(177, 210, 143, 0.6);
    color: rgba(107, 140, 73, 0.8);
  }
}

.viewissue-container {
  .top-search-filters-container {
    padding: 0;
    z-index: 10;
    box-sizing: border-box;
    box-shadow: none;
    border-bottom: none;
    flex: 0 0 auto;

    .header-container {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      flex: 1 1 auto;
      padding: 0;
      margin: 0;
      box-sizing: border-box;

      .toggle-favourite-container {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 1em;

        .tooltip.from-above {
          top: 5em;
          left: 1em;
        }
      }

      .title-container {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        line-height: 1.75em;
        padding: 1em 0;

        .title-crumbs {
          padding: 0 0 .5em 0;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          line-height: 1.25em;

          > a,
          > a:hover {
            border: none;
            color: #141823;
            font-size: 1.1em;
            flex: 0 0 auto;
            margin-left: .5em;
            font-weight: $theme-font-weight-bold;
          }
        }

        .title-name {
          font-size: 1.5rem;
          font-weight: $theme-font-weight-bold;
        }

        .posted-by-container {
          flex: 0 0 auto;
          display: flex;
          flex-direction: row;
          align-items: center;
          position: relative;

          .value {
            display: flex;
            flex-direction: row;
            align-items: center;
          }
        }
      }

      .status-header {
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        box-sizing: border-box;
        padding-right: 1em;

        .indicator {
          display: flex;
          opacity: 0;
          transition: opacity .25s ease-in-out;
          flex: 0 0 auto;
          padding: 1em;
          align-items: center;
          justify-content: center;

          &.active {
            opacity: 1;
          }
        }
      }

      .fields-header {
        flex: 0 0 400px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        border-left: 2px solid rgba(225, 225, 225, 0.7);
        background-color: rgb(251, 251, 251);
        //box-shadow: 5px 0 5px -6px rgba(27, 27, 36, 0.2) inset;
        box-sizing: border-box;

        .issuetype-field {
          margin: 0 0 0 auto;
        }
      }

      .not-editable {
        color: rgb(150, 150, 150);
        margin: 0 0 0 1em;
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;

        .fas, far {
          margin-right: .35em;
        }
      }

      .created-times {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex: 0 0 auto;
        margin-right: 1rem;
        font-size: .9em;
        line-height: 1.3em;
        color: rgba(0, 0, 0, .4);

        label {
          text-transform: none;
          color: rgba(0, 0, 0, .4);
          font-weight: $theme-font-weight-regular;
          cursor: default;
        }
      }

      .status-field > .status-badge {
        font-size: 1.2em;
        padding: .4em .8em;
      }

      .vote-container {
        flex: 0 0 auto;
        padding: 0 .4em;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.1em;
        font-size: 1rem;

        a,
        a:hover {
          border: none;
          padding: .35em;
          border-radius: 4px;
        }

        #vote_down_link {
          color: #0c8990;

          &:hover {
            background-color: rgba(225, 225, 225, .25);
          }
        }

        #vote_up_link {
          color: rgb(150, 150, 150);

          &:hover {
            background-color: rgba(225, 225, 225, .25);
          }
        }

        .fas,
        .far {
          font-size: 2em;
        }

        .vote-count {
          font-weight: $theme-font-weight-bold;
          color: rgb(150, 150, 150);
        }
      }
    }
  }

  .issue-card {
    display: flex;
    flex: 1 1 auto;
    margin: 0;
    flex-direction: row;
    box-sizing: border-box;
    align-items: stretch;
    box-shadow: none;
    z-index: 5;

    @include issue-fields-list-container();

    .issue-card-main {
      border: none;
      flex: 1 1 auto;
      margin: 0;
      padding: 1em;
      overflow: visible;
      box-sizing: border-box;
      display: flex;
      height: 100%;
      flex-direction: column;

      .messages-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        .message-box {
          margin-left: 0;
          margin-right: 0;
          width: auto;
          flex: 1 1 auto;

          + .message-box {
            margin-top: 1em;
          }
        }
      }

      .card-header {
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin-bottom: 1.5em;

        @include workflow-actions-container(flex-start);
      }

      .issue-details {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        .content {
          font-size: 1.15em;

          &.editable {
            &:hover {
              background-color: rgba(100, 100, 100, 0.05);
              cursor: pointer;
            }

            + .textarea_container {
              height: 1px;
              overflow: hidden;
              opacity: 0;
              transition: opacity 0.25s ease-in-out;
              width: 100%;

              + .textarea_save_container {
                height: 1px;
                overflow: hidden;
                opacity: 0;
                transition: opacity 0.25s ease-in-out;

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                background-color: transparent;
                border: none;
              }
            }
          }

          &.editing {
            display: none;

            + .textarea_container {
              height: auto;
              opacity: 1;
              min-height: 15em;

              + .textarea_save_container {
                padding: 1em;
                height: auto;
                opacity: 1;
                overflow: visible;
              }
            }
          }

          p + p {
            margin-top: 1em;
          }
        }
      }

      .fields-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        li {
          flex: 1 1 auto;
          max-width: 50%;
          min-width: 33%;
        }
      }
    }

    .issue-field {
      display: flex;

      &.hidden {
        display: none;
      }
    }

    .issue-fields {
      flex: 0 0 400px;
      margin: 0;
      padding: .25em;
      display: flex;
      border-left: 2px solid $theme-border-color;
      background-color: rgb(251, 251, 251);
      //box-shadow: 5px 0 5px -6px rgba(27, 27, 36, 0.2) inset;
      flex-direction: column;
      box-sizing: border-box;
      border-radius: 0;

      .fields-list-container {
        &.hidden {
          display: none;

          &.force-visible {
            display: flex;
          }
        }

        > .header {
          .name {
            font-size: 1.2em;
          }
        }

        & + .fields-list-container:not(.not-visible) {
          margin-top: 2em;
        }
      }

      .userlink {
        padding: 0;
        flex: 1 1 auto;
      }

      .fancy-dropdown-container {
        flex: 1 1 auto;
      }

      .affected-list {
        padding: 0 .25em .75em .75em;
        box-sizing: border-box;
      }
    }

    .fancy-tabs {
      flex: 0 0 auto;
      align-self: flex-end;
    }

    .fancypanes {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
    }
  }

  .comments {
    margin: 0 .35em 3em .35em;
  }

  .related-issues-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    font-size: .9em;

    .related-issue {
      &,
      &:hover {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        box-shadow: rgba(9, 30, 66, 0.25) 0 1px 1px, rgba(9, 30, 66, 0.31) 0 0 1px;
        background-color: #FFF;
        padding: .35em;
        border-radius: .25em;
        font-size: 1em;
        margin-bottom: .5em;
        transition: border .25s ease-in-out;
        border: none;
        cursor: pointer;
        color: $theme-text-color;

        .count-badge {
          margin-left: 0;
        }

        .issue-state {
          font-size: .8em;
          margin-right: .35em;
        }

        .issue-title {
          flex: 1 1 auto;
        }

        .information {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          flex: 0 0 auto;
          margin: 0 .75em;
          color: $theme-text-color-lighter;
          font-weight: $theme-font-weight-bold;
          font-size: .9em;

          + .information {
            margin-left: 0;
          }
        }

        .userlink {
          margin-right: .35em;
        }

        &.closed {
          .issue-title {
            text-decoration: line-through;
          }
        }
      }
    }
  }
}
