.viewissue-container,
.content-with-sidebar > div.viewissue-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: left;
  height: 100%;
  overflow: auto;
}

.issue-state,
.affected-state {
  display: inline-flex;
  padding: .15em .25em;
  font-size: 1em;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, .1);

  &.closed,
  &.unconfirmed {
    background-color: rgba(150, 150, 150, 0.2);
    color: rgba(100, 100, 100, 0.7);
  }

  &.open,
  &.confirmed {
    background-color: rgba(177, 210, 143, 0.6);
    color: rgba(107, 140, 73, 0.8);
  }
}

.viewissue-container {

  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 1rem 1rem 0;
    margin-left: 1rem;
    max-width: 1650px;
    box-sizing: border-box;

    .toggle-favourite {
      flex: 0 0 auto;
      font-size: 2em;
      padding: 0 .4em;
      position: relative;
    }

    .title-container {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      line-height: 1.75em;

      .title-crumbs {
        padding: 0 .35rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        line-height: 1.35em;

        > a,
        > a:hover {
          border: none;
          color: #141823;
          font-size: 1.1em;
          flex: 0 0 auto;
          margin-left: .5em;
        }
      }

      .title-name {
        font-size: 1.5rem;
        font-weight: 600;
      }

      .posted-by-container {
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;

        .value {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
      }
    }

    .status-field > .status-badge {
      font-size: 1.2em;
      padding: .4em .8em;
    }
  }

  .issue-card {
    display: flex;
    flex: 0 0 auto;
    max-width: 1650px;
    margin: 1rem;
    flex-direction: row;
    box-sizing: border-box;
    align-items: flex-start;
    background: #FFF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 10px;

    fieldset {
      border: none;
      padding: 0;
      margin: 0;
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;

      > .header {
        border: none;
        padding: 0;
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: stretch;
        color: rgba(0, 0, 0, 0.6);
        font-size: 1em;

        .icon {
          flex: 0 0 24px;
          display: flex;
          flex-direction: column;
          padding-top: .15em;
          color: rgb(200, 200, 200);

          .far,
          .fas {
            flex: 0 0 24px;
            box-sizing: border-box;
          }
        }

        .name {
          flex: 1 1 auto;
          padding: 0;
          font-size: 1.3em;
          line-height: 1em;
          font-weight: 600;
        }
      }

      .content {
        flex: 1 1 auto;
        margin-left: 24px;
        font-size: 1.1em;
        margin-bottom: 2em;
      }

      > ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: 0;
        padding: 0;

        li {
          flex: 0 0 auto;

          dl {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0;
            padding: 0;

            dt {
              flex: 0 0 auto;
              display: block;
              margin: 0;
              padding: 0;
            }

            dd {
              flex: 0 0 auto;
              display: block;
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }

    .issue-card-main {
      border: none;
      flex: 1 1 auto;
      margin: 0;
      overflow: visible;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;

      .card-header {
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin-bottom: 1.5em;

        .issuetype-field {
          flex: 1 1 auto;
          align-items: flex-start;
          justify-content: center;

          .issuetype-icon {
            display: inline-block;
            width: auto;
            padding: .5em .8em .5em 0;
          }
        }

        .workflow-actions-container {
          flex: 1 1 auto;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;

          > ul {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            list-style: none;
            padding: 0;
            margin: 0;

            > li {
              position: relative;
            }

            li + li {
              margin-left: .35rem;
            }
          }
        }
      }

      .issue-details {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
      }

      .fancytabs {
        flex: 0 0 auto;
      }

      .fancypanes {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
      }
    }

    .issue-fields {
      flex: 0 0 400px;
      margin: 1em;
      padding: 0 1em;
      display: flex;
      border-left: 1px solid rgba(200, 200, 200, .3);
      flex-direction: column;
      height: calc(100% - 4em);
      box-sizing: border-box;
      overflow: auto;

      .fields-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
