@import 'widgets/attachment';
@import 'widgets/avatar';
@import 'widgets/buttons';
@import 'widgets/card-badge';
@import 'widgets/card';
@import 'widgets/collapser';
@import 'widgets/count-badge';
@import 'widgets/diff';
@import 'widgets/dropdowns';
@import 'widgets/fancy-checkbox';
@import 'widgets/fancy-dropdown';
@import 'widgets/fancy-label-select';
@import 'widgets/fancy-tabs';
@import 'widgets/fancy-tag-input';
@import 'widgets/favourite-toggle';
@import 'widgets/interactive-toggle';
@import 'widgets/issuetype-badge';
@import 'widgets/list-mode';
@import 'widgets/paginator';
@import 'widgets/percentbar';
@import 'widgets/property-list';
@import 'widgets/slider';
@import 'widgets/tooltip';
@import 'variables';

.rotate-90 {
  transform: rotate(-90deg);
}
