.fancylabels {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
.fancylabels label {
    display: flex;
    flex: 0 0 calc(50% - 10px);
    margin: 5px;
    padding: 15px;
    border: 1px solid rgba(225, 225, 225, .1);
    transition: border-color .2s ease-in-out, background-color .2s ease-in-out;
    justify-content: flex-start;
    align-items: center;
    font-weight: 300;
    text-transform: none;
    box-sizing: border-box;
}
.fancylabels label .fas,
.fancylabels label .far {
    flex: 0 0 60px;
    font-size: 2.5em;
    padding: 15px;
    color: #888;
    text-align: center;
}
.fancylabels label span {
    flex: 1 1 auto;
    font-size: 1em;
    padding: 15px 5px;
    color: #555;
    line-height: 1em;
}
.fancylabels label span h1 {
    font-size: 1.2em;
}
.fancylabels input:checked + label {
    border-color: rgba(225, 225, 225, .3);
    background-color: rgba(200, 200, 200, .1);
    box-shadow: inset 0 0 4px rgba(100, 100, 100, .3);
}
.fancylabels input {
    display: none;
}

/* ----------------------- */

.fancycheckbox {
    display: none;
}
.fancycheckbox + label {
    display: inline-block;
    color: #555;
    transition: color .2s ease-in-out;
}
.fancycheckbox:disabled + label,
.fancycheckbox:disabled + label + .explanation {
    color: #DDD;
}
.fancycheckbox:checked + label {
    color: #88AB75;
}
.fancycheckbox:disabled + label {
    color: #DDD;
}
.fancycheckbox:focus + label {
    color: #558;
    box-shadow: 0 0 3px rgba(150, 150, 210, 1);
}
.fancycheckbox + label .fas.unchecked,
.fancycheckbox + label .far.unchecked,
.fancycheckbox:checked + label .fas.checked,
.fancycheckbox:checked + label .far.checked,
.fancycheckbox + .list-item .fas.unchecked,
.fancycheckbox + .list-item .far.unchecked,
.fancycheckbox:checked + .list-item .fas.checked,
.fancycheckbox:checked + .list-item .far.checked {
    display: inline-block;
    margin-right: 5px;
}
.fancycheckbox + label .fas.checked,
.fancycheckbox + label .far.checked,
.fancycheckbox:checked + label .fas.unchecked,
.fancycheckbox:checked + label .far.unchecked,
.fancycheckbox + .list-item .fas.checked,
.fancycheckbox + .list-item .far.checked,
.fancycheckbox:checked + .list-item .fas.unchecked,
.fancycheckbox:checked + .list-item .far.unchecked {
    display: none;
}
.fancycheckbox + label ~ .fancycheckbox + label {
    margin-left: 10px;
}

/* ----------------------- */

.fancytabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    flex-wrap: nowrap;
    padding: 1rem 0;
    overflow-x: auto;
}
.fancytabs .tab {
    padding: 1rem;
    font-size: .85rem;
    font-weight: 600;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    color: #141823;
    border-bottom: 3px solid transparent;
    margin: 0;
    position: relative;
    flex-wrap: nowrap;
    max-width: 200px;
}
.fancytabs .spacer {
    flex: 1 1 auto;
}
.fancytabs .button-container {
    flex: 0 0 auto;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}
.fancytabs .tab .name {
    flex: 1 1 auto;
    white-space: normal;
    line-height: 1.2em;
}
.fancytabs .tab .icon {
    flex: 0 0 auto;
    margin-right: .6em;
    font-size: .95em;
}
.fancytabs .tab.selected {
    color: rgb(255, 170, 0);
}
.fancytabs .tab.selected::after {
    content: '';
    display: block;
    width: 50%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255, 170, 0);
}

/* ----------------------- */

.fancydropdown-container {
    display: flex;
    flex-direction: column;
    position: relative;
}
.fancydropdown {
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px 10px;
    font-size: 1rem;
    vertical-align: middle;
    border: 1px solid transparent;
    transition: border 0.3s ease;
    border-radius: 4px;
    color: #141823;
    background: rgba(200, 200, 200, .1);
}
.fancydropdown:hover {
    background: rgba(200, 200, 200, .3);
    cursor: pointer;
}
.fancydropdown:focus {
    border-color: #0C8990;
}
.fancydropdown.selected {
    background-color: rgba(200, 200, 200, 0.3);
}
.fancydropdown > label {
    flex: 1 1 auto;
    font-weight: 300;
    text-transform: none;
    font-size: 1em;
}
.fancydropdown > .value {
}
.fancydropdown .fas {
    flex: 0 0 auto;
    font-size: 1em;
}
.fancydropdown .remove-button {
    border-left: 1px solid rgba(100, 100, 100, 0.2);
    transition: background-color 0.3s ease;
}

.fancydropdown .remove-button:hover {
    border-color: rgba(100, 100, 100, 0.4);
    background-color: rgba(250, 0, 0, 0.2);
    cursor: pointer;
}

.fancydropdown + .dropdown-container {
    list-style: none;
    font-size: 1em;
    display: none;
    flex-direction: column;
    position: absolute;
    margin: 0;
    z-index: 10;
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 5px 0;
    background: #FFF;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 4px;
    min-width: 100%;
    top: calc(100% + 2px);
}

.fancydropdown.selected + .dropdown-container {
    display: flex;
}

/* ----------------------- */

.list-mode {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.list-item,
.list-item:hover,
a.list-item,
a.list-item:hover {
    padding: 0 8px;
    display: flex;
    flex-direction: row;
    color: #141823;
    border-radius: 5px;
    border: none;
    margin: 0 10px 5px 10px;
    align-content: flex-start;
    align-items: center;
    justify-content: flex-start;
    justify-items: flex-start;
    font-size: .9rem;
}
.collapsed .list-item,
.collapsed .list-item:hover,
.collapsed a.list-item,
.collapsed a.list-item:hover {
    justify-content: center;
    padding: 0;
    font-size: 1rem;
}
.list-item > a,
.list-item > a:hover {
    color: #141823;
    border: none;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}
.list-item > a.icon,
.list-item > a.icon:hover {
    flex: 0 0 25px;
}
.submenu .list-item,
.submenu a.list-item {
    color: #141823;
    padding: 0 10px;
    font-size: .95em;
    margin: 5px 10px;
}
.expandable + .submenu .list-item,
.expandable + .submenu a.list-item {
    color: #141823;
    padding: 0 10px;
    margin: 5px 5px 0 32px;
}
.list-item:hover, a.list-item:hover {
    background-color: rgba(100, 100, 100, .1);
}
.list-item.selected, a.list-item.selected {
    background-color: rgba(100, 100, 100, .1);
}
.list-item .icon {
    flex: 0 0 25px;
    padding: 10px 0;
    color: rgb(100, 100, 100);
    align-self: center;
    text-align: center;
}
.collapsed .list-item .icon:first-child {
    padding: 10px;
    flex: 1 1 auto;
}
.collapsed .list-item .icon:not(:first-child) {
    display: none;
}
.submenu .list-item .icon {
    font-size: 1.1em;
    padding-left: 10px;
}
.list-item.selected .icon {
    color: #0C8990;
}
.list-item.expandable,
.list-item.expandable:hover {
    padding-right: 0;
}
.list-item.expandable.expanded .icon {
    color: #0C8990;
}
.list-item span.name {
    flex: 1 1 auto;
    align-self: center;
    padding: 5px 0;
    font-weight: 400;
    font-size: 1em;
}
.list-item .indicator {
    display: none;
    flex: 0 0 auto;
    text-align: center;
}
.list-item.filter-container:hover {
    background: transparent;
}
.list-item.filter-container input[type=search] {
    border: none;
    background: rgba(200, 200, 200, .1);
    border-radius: 4px;
    color: #141823;
}
.list-item.filter-container input[type=search].filtering + .indicator {
    display: inline-block;
}

.list-mode.updating {
    opacity: 0.2;
}

.list-item.separator,
.list-item.separator:hover {
    padding: 5px 0 0 0;
    margin: 0 5px 5px 5px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    background-color: transparent;
    cursor: default;
}

.filtered .list-item.separator {
    display: none;
}

.filtered .list-item {
    display: none;
}

.filtered .list-item.visible {
    display: block;
}

.filtered .list-item.hidden {
    display: none;
}
.collapsed .list-item span.name {
    display: none;
}
.list-item.expandable.expanded .name {
    color: #0C8990;
    font-weight: 600;
}
.submenu .list-item span.name {
    font-size: .95em;
}
.list-item.multiline span.name {
    display: flex;
    flex-direction: column;
    font-size: .85em;
}
.list-item.multiline span.name .title {
    font-size: 1.2em;
    font-weight: 600;
}
.submenu {
    border-top: 1px solid rgba(100, 100, 100, .2);
}
.expandable + .submenu {
    display: none;
}
.expandable.expanded + .submenu {
    display: initial;
    border-bottom: 1px solid rgba(100, 100, 100, .2);
    padding-bottom: 5px;
}
.collapsed .expandable.expanded + .submenu {
    display: none;
}
.expandable .expander {
    transform: rotate(0);
    cursor: pointer;
    padding: 10px;
}
.collapsed .expandable .expander {
    display: none;
}
.expandable.expanded .expander {
    transform: rotate(180deg);
    color: #0C8990;
}
.list-mode .header,
.submenu .header {
    text-transform: none;
    color: rgb(150, 150, 150);
    font-size: .75rem;
    padding: 15px 0 5px 15px;
}
