<div class="milestone-issue placeholder">
    <div class="issue-link-container">
        <div class="placeholder-animation"></div><div class="placeholder-animation title"></div>
        <div class="placeholder-animation"></div>
    </div>
</div>
