.cdx-hidden-toolbar-block {
  display: inline-block;
  min-width: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.cdx-mention {
  color: #1785a9;
  font-weight: bold;
  outline: none;
  margin-left: 4px;
  margin-right: 4px;
}
.cdx-mention::before {
  content: attr(data-sign);
  /* content: '@'; */
  color: #1785a9;
  border-radius: 100%;
  display: inline-block;
  margin-right: 1px;
  font-size: 14px;
  transform: rotateZ(-10deg);
  font-family: serif;
  opacity: 0.8;
}
.cdx-mention__container {
  padding: 5px;
  padding-bottom: 0px;
}

.cdx-mention__tab {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 6px;
  padding: 5px 4px;
}

.cdx-mention__tab_item {
  font-size: 12px;
  margin-right: 12px;
  border-bottom: 1px solid transparent;
  padding-bottom: 3px;
  opacity: 0.6;
}

.cdx-mention__tab_item:hover {
  opacity: 0.9;
  cursor: pointer;
}

.cdx-mention__tab_item_active {
  margin-top: -1px;
  opacity: 1;
  border-bottom-color: grey;
}

.cdx-mention__input {
  margin-bottom: 8px;
  outline: none;
  box-sizing: border-box;
  padding: 5px;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  width: 180px;
  height: 26px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 13px;
  line-height: 1.2;
  background: transparent;
  border: 1px solid #e5e5e7;
  border-radius: 4px;
  transition: all 0.3s;
}

.cdx-mention__input::placeholder {
  font-size: 12px;
  font-style: italic;
}

.cdx-mention-suggestion-wrapper {
  width: 100%;
  min-height: 1px;
  max-height: 300px;
  overflow: hidden;
}

.cdx-mention-suggestion {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 40px;
  padding: 3px 6px;
  cursor: pointer;
}

.cdx-mention-suggestion:first-child {
  opacity: 0.9;
}
.cdx-mention-suggestion:last-child {
  margin-bottom: 8px;
}

.cdx-mention-suggestion:hover {
  background: #f1f3f7;
}

.cdx-mention-suggestion__avatar {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  display: block;
  margin-right: 8px;
}

.cdx-mention-suggestion__intro {
  display: flex;
  flex-direction: column;
}

.cdx-mention-suggestion__title {
  color: #828282;
  font-size: 15px;
}

.cdx-mention-suggestion__desc {
  color: #b5b5b5;
  font-size: 12px;
  margin-top: 2px;
}
